[2019-12-02 20:56] #332 closed

[2019-12-02 23:42] jacobhuesman opened #486 "RViz crashes when mouse intersects with the image plugin panel"
RViz crashes with the following error when my mouse intersects the portion of the screen that the image plugin displays images:

rviz2: /tmp/binarydeb/ros-eloquent-rviz-ogre-vendor-7.0.3/obj-x86_64-linux-gnu/ogre-v1.12.1-prefix/src/ogre-v1.12.1/OgreMain/src/OgreSceneManager.cpp:1384: virtual void Ogre::SceneManager::_renderScene(Ogre::Camera*, Ogre::Viewport*, bool): Assertion `camVisObjIt != mCam

[2019-12-03 07:10] #479 closed

[2019-12-04 01:20] jacobperron commented on #486
Thanks for reporting. I can reproduce the issue with the Eloquent binaries as well as building the latest source.

[2019-12-04 14:56] sloretz commented on #476
https://github.com/ros/rosdistro/pull/23210

[2019-12-04 14:57] sloretz commented on #476
The fix should be in the next Dashing patch release. I'll close this for now.

[2019-12-04 14:57] #476 closed

[2019-12-05 06:52] capaulson opened #488 "Mac OS X eloquent release links to outdated libassimp"
Potentially related to #140. Current version in brew is 5.0.0. On launch of rviz from the installed release one gets the following error:
[code]

Surprisingly, a symbolic link is sufficient to get things running again:
[code]

However, this should get properly fixed as users who follow the install instructions for the release will likely have this issue as well.

[2019-12-05 17:14] wjwwood commented on #477
I'm going to close this for now since we don't support Dashing on 16.04, but @cvasfi if you have time to follow up with me or @Martin-Idel do it here and I can reopen if needed.

[2019-12-05 17:14] #477 closed

[2019-12-07 01:20] jacobperron commented on #486
I build with debug and get the following assertion failure within Ogre:

[code]

<details>
<summary>Backtrace</summary>
<pre>
#0  0x00007ffff54cfe97 in __GI_raise (sig=sig@entry=6) at ../sysdeps/unix/sysv/linux/raise.c:51
#1  0x00007ffff54d1801 in __GI_abort () at abort.c:79
#2  0x00007ffff54c139a in __assert_fail_base (fmt=0x7ffff56487d8 "%s%s%s:%u: %s%sAssertion `%s' failed.\n%n", assertion=asse

[2019-12-07 02:13] jacobperron commented on #486
Possible fix https://github.com/ros2/rviz/pull/490
Though there's probably a better solution.

[2019-12-11 04:11] cjsJack opened #492 "ros2-dashing-debug windows rviz2 ERROR"
I am using ros2-dashing-debug in windows, using vs2017, when I command rviz2, it appear some error:

[code]

But rviz can also succeed showing the window, so it is normal, or I should add some dll path,
thanks,

[2019-12-11 23:15] claireyywang opened #493 "OSX rviz_assimp_vendor build error"
The file name `/usr/local/lib/libassimp.dylib.5` is likely a typo, I think what it meant to be is `/usr/local/lib/libassimp.5.dylib`, which is the file I found in the directory.

A temporary fix is to create symbolic link `ln -s /usr/local/lib/libassimp.5.dylib /usr/local/lib/libassimp.dylib.5`

The following is the error message I got.

[code]

[2019-12-11 23:35] wjwwood commented on #488
The problem is that our buildfarm uses assimp 4 to build, so our binaries use that. Unfortunately the rolling releases in homebrew make it pretty much impossible for us to keep working binaries. You'll have to wait until we upgrade our build machines and roll out new binaries.

Linking 5 to 4 is dangerous, though maybe will work for you...

I don't think this is the same issue as #140, but the res

[2019-12-11 23:35] #488 closed

[2019-12-11 23:37] wjwwood commented on #493
@nuclearsandwich I think we are intentionally holding back assimp to 4 (And not 5) on the buildfarm, but I can't find any build cop or other issue about it, is there one?

[2019-12-12 17:03] nuclearsandwich commented on #493
We haven't actually been intentionally holding it back until Monday as before then we were just behind on upgrades. @gerkey submitted a patch upstream which has been accepted and not yet released, I'm working on getting homebrew to take the the patch in the meantime. Will link a PR when it is ready.

[2019-12-12 18:57] wjwwood commented on #493
The contribution by @gerkey that was mentioned: https://github.com/assimp/assimp/pull/2765

Thanks for the update @nuclearsandwich.

[2019-12-12 21:03] nuclearsandwich commented on #493
https://github.com/Homebrew/homebrew-core/pull/47792 is open with my attempt to add the patch to Homebrew. If that goes through we'll be able to update our mac hosts.

[2019-12-13 00:21] wjwwood commented on #478
I think that's not possible, instead you just publish the whole map whenever it changes, but since it's large you don't want to send it periodically as the clients that already have it will receive it again unnecessarily. That's the reason for transient local durability in my opinion.

----

I would vote for defaulting it to transient local, and maybe instead default to the QoS of the only publish

[2019-12-13 00:23] wjwwood commented on #478
@sloretz you've been randomly selected (amongst the four of us) to "resolve" this issue, however you think most appropriate.

[2019-12-13 07:43] claireyywang commented on #493
Thanks for the follow up and update! I'll keep track of this issue.

[2019-12-16 14:35] nuclearsandwich commented on #493
The patch above has been merged but until the binary bottle is rebuilt I think you'll need to use `brew reinstall assimp --build-from-source` to get the patched behavior.

[2019-12-19 16:47] pbeeson opened #494 "rviz2 crashes when trying to visualize RobotModel with textures"
Using ros2 eloquent from debs, I have tried both listening to a URDF published by robot_state_publisher on the /robot_description topic, and I've tried loaded the URDF directly from file for the Rviz RobotModel plugin.  In both cases, I get this error:
`
Parsing robot urdf xml string.
[ERROR] [rviz2]: ItemIdentityException: Cannot find a group named rviz_common in ResourceGroupManager::isResourceG

[2019-12-19 16:50] pbeeson commented on #494
`/opt/ros/eloquent/share/rviz_default_plugins/test_meshes/test.urdf` works.

[2019-12-19 17:07] pbeeson commented on #494
So for some reason rviz2 is bombing on a urdf that is parsable and visible in rviz1.

Here's the URDF.  Any thoughts on why this particular urdf is bombing rviz would be appreciated.  Again, I can parse this and use the collison models with my FCL-based collision library.  No problems.  It's just Rviz that doesn't seem to like it.

[code]

[2019-12-19 17:19] pbeeson commented on #494
Of course, you have to then use the texture on a link.  Also, the package:// isn't the culprit as I tried absolute paths and that doesn't work either.

[2019-12-19 23:25] Martin-Idel commented on #494
No, the error message tells us that the `Ogre::ResourceManager` is upset because it doesn't find the resource group "rviz_common" (which was never initialized). There were some changes to how this is done internally at Ogre and also there is still no definitive way for RViz to handle it in ros2 (ros 1 rviz always used the package name, but there are multiple packages here which doesn't work).

Thi

[2019-12-23 16:27] pbeeson commented on #494
I have validated that PR #495 does indeed fix this problem.

[2019-12-25 18:59] yathartha3 commented on #493
@nuclearsandwich ```brew reinstall assimp --build-from-source``` worked for me :)

[2019-12-30 19:17] claireyywang commented on #493
Thanks @nuclearsandwich ! Do you know when the binary bottle will be rebuilt? Is the wait long enough to justify adding this issue to the `troubleshoot` section of installation documentation?

[2020-01-02 17:38] wjwwood commented on #492
Did you source the `setup.bat` file? Please give more details on how to reproduce your issue.

I'm going to close this because I believe the issue has been addressed. Feel free to continue to comment and I can reopen if necessary.

[2020-01-02 17:38] #492 closed

[2020-01-02 18:31] AndrewJSchoen opened #496 "Rviz Assimp Vendor not found"
## Bug report

**Required Info:**

- Operating System:
  - macOS 10.15.2
- Installation type:
  - From source
- Version or commit hash:
  - Eloquent
- DDS implementation:
  - Default
- Client library (if applicable):
  - NA

#### Steps to reproduce issue

(Follow steps on ROS2 Wiki)

Run `colcon build --symlink-install`

#### Expected behavior

Complete installation of all ROS2 packages

#### Actu

[2020-01-05 16:43] TMmichi opened #497 "ROS2 build failure on Mac OS Catalina @rviz_assimp_vendor"
## Bug report

**Required Info:**
- Operating System:
  - Mac OS Catalina 10.15.2
(Although I understand that the required operating system is Sierra, I tried on Catalina.)
- Installation type:
  - from source
- Version or commit hash:
  - ROS 2 Eloquent Elusor from ros2.repos
- DDS implementation:
  - Default
- Client library (if applicable):
  - N/A

#### Steps to reproduce issue

Followed all t

[2020-01-06 16:23] dirk-thomas commented on #497
All these error messages:

are just follow up problem of one package failing to build. There is a problem with Python 3.8 in `colcon` which should be addressed by colcon/colcon-core#284.

Since the actual error message comes from `rviz_assimp_vendor` I moved the ticket to the `ros2/rviz` repo.

[2020-01-06 17:57] TMmichi commented on #497
@dirk-thomas Thank you for letting me know that there is a python version mismatch. After re-creating my conda env with python 3.6, I tried building it again, and faced these issues.

It indeed encountered problem with rviz_assimp_vendor, and the following is the error message.

[code]

[2020-01-13 01:28] klintan commented on #497
This is a known issue in version 5.0 of assimp lib, see here https://github.com/assimp/assimp/issues/2760

Quick fix as suggested:

[code]

edit: also see this issue https://github.com/ros2/rviz/issues/496

[2020-01-14 03:58] klintan opened #499 "Unable to start - crashing "mutex lock failed: Invalid argument""
I have an Eloquent ROS2 installation compiled from source, tested this on Eloquent installed from binary as well, same issue.

When trying to start RVIZ2 I get this error message:

[code]
I'm probably missing something obvious, but I can't really figure out what :(. My only suspicion is that it has something todo with my old dashing config, but I'm not sure/do not know if that is cached somewhere.

[2020-01-14 06:25] klintan commented on #499
Ok found the issue, https://answers.ros.org/question/205201/error-invalid-argument-passed-to-cantransform-argument-source_frame/ gave me the (obvious) clue that something was amiss with the frame ids it was expecting. However I was not publishing anything, no nodes were running. But the default config is always stored here (and persisted from my old dashing):
[code]
Renaming the `default.rviz` fil

[2020-01-14 06:25] #499 closed

[2020-01-14 23:47] nbbrooks commented on #469
I've been following [this thread](https://answers.ros.org/question/341214/custom-panel-plugin-not-being-found-when-running-rviz2/) which points to this issue.

I'm not encountering the behavior described here - I get 2 different sets of behavior.

#1 Debian install
When I am using ros-eloquent-desktop debians and my package with a custom display and custom panel, the dialogs for adding display/pan

[2020-01-15 00:29] SteveMacenski commented on #469
Maybe just needs a new release these days. It's also been 3 months since I filed this.

[2020-01-15 07:35] wjwwood commented on #469
I don't think anyone has addressed the issue in the meantime. I feel like they would have referenced this issue had they done so, but maybe not.

I agree that the difference in master and what's released is unlikely to affect this. It might be a subtle bug in how the plugins are discovered? I'm sorry I haven't and still do not have time to look into it in more detail.

[2020-01-15 15:39] nbbrooks commented on #469
That is my thought as well, that the fact the source install and my rviz_example package are now in the same workspace folder is somehow circumventing the issue.

[2020-01-15 21:37] #494 closed

[2020-01-16 18:45] ivanpauno commented on #496
Closing as MacOS catalina is not a supported platform.

[2020-01-16 18:47] #496 closed

[2020-01-23 13:40] ivanpauno commented on #497
There is currently not support for Mac OS Catalina, so I will proceed to close.

[2020-01-23 13:40] #497 closed

[2020-01-24 17:45] nbbrooks commented on #469
This issue was addressed at some point in the past and can be closed. My initial problem was incorrect documentation [here](https://github.com/ros2/rviz/blob/ros2/docs/plugin_development.md) - I made a PR to fix it.

The problem of it working with the source install but not debian was problems from having a dirty colcon/ament prefix path (some details [here](https://answers.ros.org/question/341214

[2020-01-24 22:04] wjwwood commented on #469
Glad to hear it, can we close this issue?

[2020-01-24 22:57] SteveMacenski commented on #469
Sounds good. I thought I'd tried that - but I'll take @nbbrooks word for it. I won't be able to address this again for another couple weeks.

[2020-01-24 22:57] #469 closed

[2020-01-29 12:57] alsora commented on #486
Any updates on this?

I am having the same issue
https://answers.ros.org/question/342816/ros2-rviz-crash-when-visualizing-camera-image/

[2020-01-29 17:18] jacobperron commented on #486
@alsora If you can, please try #490 for a fix. I still can't explain why the crash is happening though..

[2020-01-30 18:17] jacobperron commented on #485
@maxlein Correct me if you think I'm mistaken, but I think this is the same issue as https://github.com/ros2/geometry2/issues/213. I'm going to close this, but feel free to still comment if you think otherwise.

[2020-01-30 18:17] #485 closed

[2020-01-31 08:05] meiTob opened #505 "Ros2 Eloquent on Mac Mojave building Error - package 'rviz_ogre_vendor' failed"
**Required Info:**

- Operating System:
  - MacOs 10.4.6 Mojave

- Installation type:
  - from source (as binary wasn´t working either. It had some load entry point errors and someone told me to build from source

- Version or commit hash:
  -  Eloquent

- DDS implementation:
  - don´t realy know

- Client library (if applicable):
  - rviz_ogre_vendor

#### Steps to reproduce issue

- I completly

[2020-01-31 12:47] dkuenster opened #502 "Frame Transformer Message Filter Display has it's queue-size hardcoded to 10"
https://github.com/ros2/rviz/blob/fcc4b1b20d366203295fd4e6c245c4d79615a0e7/rviz_common/include/rviz_common/message_filter_display.hpp#L126

Having this parameter hardcoded to 10 caused nearly all messages in the odom frame to be dropped, when I was using the teb-planner with the nav2 stack.The teb planner sends a lot of messages in the odom frame for debugging purposes.
The error message in this c

[2020-02-02 22:03] mikelynders commented on #505
I am also having the same issue on Catalina (i know its not supported but I was trying to build it from source)

[2020-02-03 09:54] hirotaka001 commented on #505
I had the same problem. However, it was solved by the following command.

`export SDKROOT="$(xcrun --sdk macosx --show-sdk-path)"`

I hope your problem will be solved.

[2020-02-03 17:26] TobiasMeinert commented on #505
I mean it did something, now I am able to build 100 Packages instead of 83. The finnish message is:
[code]

The full Protokoll is:
 Im now going to google, to look if I find a solution. If anyone could help, I would be realy gratefull!
[code]

Edit:
Informations from my google search
It seems that there is a Problem with C++17 and or Mojave, also the Errors tell me that there could be a Problem wi

[2020-02-03 17:42] meiTob commented on #505
I think I found someone with a really similiar Problem: [(https://github.com/ros-perception/image_common/issues/139)]

But I don´t know which CMakelist.txt colcon build is using, so I am not able to fix the Problem the same way he did.

[2020-02-03 18:23] #486 closed

[2020-02-03 21:12] ruffsl commented on #486
Thanks @jacobperron !
Looking forward to the next sync, this killing me whenever I'd need to adjust image windows in rviz2.

[2020-02-04 23:19] jacobperron commented on #505
I've triggered a macOS CI build with Eloquent development branches (as per the install from source instructions) on one of our Mojave machines: [![Build Status](https://ci.ros2.org/buildStatus/icon?job=ci_osx&build=7552)](https://ci.ros2.org/job/ci_osx/7552/)

[2020-02-04 23:42] jacobperron commented on #502
+1

@dkuenster If you have time to propose a fix in the form of a pull request, I'm happy to review it!

[2020-02-05 20:09] TobiasMeinert commented on #505
So my Mac completly crashed and I wasn´t able to boot into my Mac. So i erased my Hard Drive, installed Mac OS again and then updatet to Mac Catalina and began the building process again. I am still getting some errors, but it builded completly and i am able to run the examples. So we can close this issue. But It may be relevant for someone that i was only able to install on Catalina which isn´t e

[2020-02-05 20:09] #505 closed

[2020-02-06 22:23] emersonknapp opened #506 "rviz_rendering_tests.mesh_loader_test_target failing on nightly_linux-armhf_release"
This test has been failing consistently for a while in the nightly release armhf job

Test: `rviz_rendering_tests.mesh_loader_test_target`

https://ci.ros2.org/view/nightly/job/nightly_linux-armhf_release/368/#showFailuresLink

Seems to have been failing since at least build#166 in July 2019 - hard to parse the results earlier than that https://ci.ros2.org/view/nightly/job/nightly_linux-armhf_rele

[2020-02-13 16:41] cho3 opened #507 "Memory leak in `AxesDisplay`?"
AxesDisplay calls a raw `new` for it's properties, and never deletes them:

https://github.com/ros2/rviz/blob/ros2/rviz_default_plugins/src/rviz_default_plugins/displays/axes/axes_display.cpp#L63

Is this expected behavior? I couldn't find any documentation on using `*Properties`

[2020-02-13 17:36] cho3 commented on #507
Whoops nevermind. Looks like this is just the way you're supposed to do stuff with Qt.

Qt manages the memory for you.

[2020-02-13 17:36] #507 closed

[2020-02-13 22:07] brawner opened #508 "Deprecated Qt functions (Qt 5.14.1) in rviz_common"
When using the most recent patch version of Qt (5.14.1), there are build warnings about deprecated functions in rviz_common.

[code]
The recommended replacement for `Qt::TextColorRole` is `Qt::ForegroundRole`.

https://doc.qt.io/qt-5/qpalette.html#ColorRole-enum
https://doc.qt.io/qt-5/qt.html#ItemDataRole-enum

https://ci.ros2.org/job/ci_windows-container/123/warnings43Result/

[2020-02-26 07:17] mmatthe opened #511 "RViz2 not showing sensor_msgs/Image"
Using latest ROS2 release on Ubuntu 18.04

[code]

RViz2 Image display does not show an image (only showing "No Image")

![image](https://user-images.githubusercontent.com/16668802/75320690-87bac580-586f-11ea-9510-c48c12fd97d8.png)

![image](https://user-images.githubusercontent.com/16668802/75320653-72de3200-586f-11ea-82b8-04375fa3f565.png)

There sometimes occurs a log message in the RViz stdout

[2020-02-26 19:57] claireyywang commented on #508
closing since PR is merged

[2020-02-26 19:57] #508 closed

[2020-03-02 12:52] MCP-TTC opened #512 "rviz2 - camera plugin error with pitch != width*BBP"
Hi,

I noticed that rviz2 cannot display image messages if pitch != width * bytesPerPixel.

Given these basic information about the system:
- Ubuntu 18.04
- ROS eloquent
- default DDS

I tried the following configurations:

1. Image msg 1928x1208x4 (BGRA) -> pitch = 7936 (where 1928*4 = 7712)
rviz2 reports: **[ERROR] [rviz2]: Error loading image: InvalidParametersException: Stream size does not ma

[2020-03-02 20:40] SteveMacenski opened #513 "Many signalFailure - Drop message warnings on startup"
Hi,

In the same theme of https://github.com/ros-planning/navigation2/issues/949, RViz will produce alot of these dropped message warnings once everything is activated and just getting started. After startup, they go away, but it causes confusion for new users and generally seems like something that should be fixed.

From Michael:

Translating that to Rviz: the message filter is created, which aut

[2020-03-02 20:41] SteveMacenski commented on #513
Related / more context than https://github.com/ros2/rviz/issues/443

[2020-03-06 00:58] claireyywang commented on #493
error went away with newly built bottle

[2020-03-06 00:58] #493 closed

[2020-03-12 18:46] wjwwood commented on #512
Would you expect this to work? Seems like reasonable error checking to me. Do you consider this a bug or would you like some other behavior?

[2020-03-13 07:56] MCP-TTC commented on #512
I think this is a bug since rqt_image_view can display the image which is still valid with a pitch that is different from width * bpp due to memory alignment or whatever, but rviz2 cannot display it and gives an exception.

I just took a look at the source code of both tools and:

RVIZ:
`in <loadImageToOgreImage>(
  const ImageData & image_data,
  Ogre::Image & ogre_image) const
{
  Ogre::DataStre

[2020-03-13 22:13] paroj commented on #440
are you building with -Werror? https://gitlab.kitware.com/cmake/cmake/issues/19845

[2020-03-15 09:59] Martin-Idel commented on #207
Just to let you know: I'm working with an intern on reenabling image transport throughout RViz. This should address this issue completely (hopefully for foxy)

[2020-03-17 18:52] gonzodepedro commented on #511
Created https://github.com/ros2/demos/issues/432

[2020-03-17 18:57] gonzodepedro commented on #511
To use the camera plugin in rviz you need a couple of things.

1. sensor_msgs::Image messages published to a topic with proper frame_id information.
2. sensor_msgs::CameraInfo messages published to a topic with proper frame_id information.
3. A valid transformation tree.

The first item will get fixed by ros2/demos#432. The other items need to be provided by other means. 'ros2 run image_tools show

[2020-03-17 18:57] #511 closed

[2020-03-19 05:34] claireyywang commented on #512
@wjwwood friendly ping

[2020-03-20 03:55] pankhurivanjani opened #521 "Error in rviz2 while sending navigation 2d goal in ros2"
Hello!

I am working on navigation2 using ros2 dashing. While sending nav2 goal, robot isn't responding. Checking the logs lead me to this rviz2 error

[code]

I tried looking into similar issues with ros1 in other threads, some of which suggested changing queue size in laserscan, I tried that too but it didn't help.

I have done few changes from regular configuration:

1. Enabled static layer in

[2020-03-23 21:17] Martin-Idel commented on #521
This might be fixed via https://github.com/ros2/rviz/pull/519, since until then RViz clock and the clocks used for publishing the navigation goal are not the same, so something might go wrong there - if you could check with master that would be great.

[2020-03-23 21:50] Martin-Idel commented on #512
I guess it makes sense to allow images with stride.

---

Some considerations though:

It might not be completely trivial to implement this as Ogre seems to not have an API to load an image with padding (which seems reasonable as size is an issue for gaming and visualization and the image will have to be loaded to the GPU memory for processing anyways so I guess most image will not use padding).

[2020-03-24 21:18] ZhilaiShen opened #522 "rviz2 taking more and more CPU/MEM perceptage"
Hi all

I am using Ubuntu 16.04, and running everything in 18.04 docker. I write a ros2 c++ plotter(node) to subscribe to messages and publish rviz2 messages(markers: text, arrow, line_strip, bbox; tf2). For all the markers, I setup a lifetime of 2 sec.

The node publishes all rviz2 messages by using a timer_callback function which is called(published) every 1 second even if there are no valid mes

[2020-03-28 10:58] kelebujiabing commented on #492
![image](https://user-images.githubusercontent.com/10735902/77821552-3760ad00-7126-11ea-8af6-cc855475d928.png)

hi, I meet the same errs. And source the setup.bat doesn't work for me.pls help, thanks

[2020-03-29 17:58] ros-discourse commented on #486
This issue has been mentioned on **ROS Discourse**. There might be relevant details there:

https://discourse.ros.org/t/ros-2-packages-using-ml/13137/8

[2020-03-31 10:51] cjsJack commented on #492
I am sorry, I don't know how to solve this problem, but  this problem
doesn't effect we use this version.

kelebujiabing <notifications@github.com> 于2020年3月28日周六 下午6:58写道：

[2020-04-02 01:41] claireyywang commented on #521
@pankhurivanjani seems like #519 is merged. Mind checking to see if the error is fixed?

[2020-04-02 01:45] pankhurivanjani commented on #521
Sure, I will check it and provide you with the review.

[2020-04-02 01:52] claireyywang commented on #521
thanks!

[2020-04-02 18:03] Blast545 commented on #522
Hi there @ZhilaiShen, can you please provide further information to reproduce the issue? Like a minimun version of the plotter that causes the problem.

[2020-04-03 07:13] pankhurivanjani commented on #521
Hello @claireyywang !
I checked it multiple times but error still persists. I did update the ros2 Dashing navigation before running it.

[2020-04-03 07:24] claireyywang commented on #521
By "ros2 dashing" do you mean the `ros2` or `dashing` branch? The fix is merged into `ros2` (with `default` tag).

[2020-04-03 07:34] pankhurivanjani commented on #521
I have updated ros2. Not going into specific branch, for more information I wanted to convey I am using dashing.

[2020-04-03 23:00] claireyywang commented on #521
To get the latest #519 fix, you need to update your current `rviz` folder with `ros2` branch upstream. If you are using source installation, you can use the following commands
[code]
You might have to update packages `rviz` depends on, since dashing is almost two releases older than the latest branch.

[2020-04-06 04:13] pankhurivanjani commented on #521
Hi @claireyywang
I had binary release and updating it didn't help so I tried updating the source package. While building I got the error in

[code]
I could  not find any existing issue for this problem. Could you suggest something?

[2020-04-06 15:51] rotu opened #524 "rviz_assimp_vendor CMake CMP0012 build error"
CMake 3.16.3 on Ubuntu Focal, building from Master

[code]

Originally (mis)filed as https://github.com/ros-visualization/rviz/issues/1479

[2020-04-08 16:16] hidmic commented on #521
@pankhurivanjani I'd suggest you don't build using `sudo` -- that'll switch your environment for (apparently) no good reason.

---

About the issues you're seeing. The error logs you're seeing do not seem related to clock mismatch issues. At best, it's just `tf` messages latency. So this isn't an `rviz` issue.

I'll assume you're using `rviz` default send goal tool. Then,

- Check the topic that t

[2020-04-08 16:22] hidmic commented on #521
One last thing. This kind of questions are more appropriate for [answers.ros.org](http://answers.ros.org/), where the entire community can chime in and provide some guidance on how to proceed. There, all exchanges remain visible for others to learn from them, as opposed to left forgotten in an eventually closed issue.

So I'll close this now, and encourage you to continue with the discussion over

[2020-04-08 16:22] #521 closed

[2020-04-09 21:49] jacobperron commented on #524
This is caused by a bug in assimp 5.0.0 (I believed fixed in assimp 5.0.1). Here it is reported upstream: https://bugs.launchpad.net/ubuntu/+source/assimp/+bug/1869405

I'm not sure there's any way we can quiet the warning from RViz while we wait for a fix upstream...

[2020-04-16 21:00] rotu opened #527 "Broken build on Clang11 w/ libc++"
I get these build errors with clang11 and libc++:

[code]

[2020-04-21 04:39] hahasofia commented on #511
Hi mmatthe,
Have you solved this issue? I met the same error log "dropping message for reason 'Unknown'. :(
@mmatthe

[2020-04-21 08:41] hahasofia commented on #511
@gonzodepedro
Sorry, I'm a new user, could you explain more about "A valid transformation tree"? Could you give a sample? Thank you very much.

[2020-04-23 14:43] hidmic commented on #527
Hmm this looks a lot like an upstream issue. What Eigen version are you using?

[2020-04-26 09:46] Martin-Idel commented on #511
@hahasofia The issue will be fixed with the next release but cannot really be fixed now.

The problem is the following:
To show something in RViz, RViz needs a valid transformation between the fixed frame (e.g. "map", configurable in the GUI) and the message - otherwise it's unclear where to render the message content. That information is contained in a tree (e.g.: there are three frames: world, r

[2020-04-27 17:05] rotu commented on #527
I'm using `libeigen3-dev` version 3.3.7-2 installed from apt on Ubuntu Focal.

[2020-04-27 18:45] rotu commented on #527
I think it's resolved by this https://gitlab.com/libeigen/eigen/-/merge_requests/65
Eigen assumes `<sstream>` has been included already.

I'm not sure if we should fix it here, wait for the next upstream release, or vendor/patch the Eigen3 package.

The easiest fix was to just add this to my .repos file:
[code]

[2020-04-27 19:01] hidmic commented on #527
Hmm, brittle as it is, patching here may be the simplest path forward. @ros2/team thoughts?

[2020-04-27 19:10] clalancette commented on #527
Yeah, I'm on board with that, with a comment and a link to where it is fixed upstream.

[2020-04-28 00:23] wjwwood commented on #527
👍 from me too, to fix it here and link to the upstream issue.

[2020-04-29 12:48] hahasofia commented on #511
@Martin-Idel
Thanks for your reply.

[2020-05-02 00:53] #524 closed

[2020-05-04 07:41] evshary opened #535 "Build fail on Ubuntu 18.04"
I built ROS 2 foxy (master branch of [ros2/ros2](https://github.com/ros2/ros2/blob/master/ros2.repos)) from source code on Ubuntu 18.04.
(With release build: `colcon build --cmake-args -DCMAKE_BUILD_TYPE=Release`)
However it failed while building package rviz_assimp_vendor. The error message is like below
[code]

I guess the error is related to [here](https://github.com/ros2/rviz/blob/ros2/rviz_as

[2020-05-04 14:20] clalancette commented on #535
See https://github.com/ros2/rviz/pull/536, which fixes the issue.

[2020-05-04 14:34] wjwwood commented on #535
But also, you shouldn't expect master to compile on 18.04 moving forward. We'll try to keep that the case, but will not avoid a breaking change if we need to do it. The Eloquent branch will continue to be the most stable thing to build on bionic.

[2020-05-04 14:35] #535 closed

[2020-05-04 16:04] dirk-thomas opened #537 "make rviz related packages relocatable"
Atm various `.cmake` files installed by `rviz` packages and its dependencies contain absolute paths to the install space which makes them non-relocatable. See:

* https://github.com/ros2/ros2/issues/915#issuecomment-623552072
* https://github.com/ros2/ros2/issues/904

[2020-05-04 16:15] dirk-thomas commented on #537
Reviewing the latest packaging jobs I think resolving this for all the rviz dependencies has also resolve this for rviz itself.

[2020-05-04 16:15] #537 closed

[2020-05-04 17:54] SteveMacenski opened #538 "Support for new particle filter messages for AMCL"
Hi,

We have a pending PR (https://github.com/ros-planning/navigation2/pull/1677) to add a new particle filter message for particle clouds with each poses’ weight. For Foxy, we’ll continue to support pose arrays, but plan to deprecate in g-turtle.

[2020-05-05 17:15] sloretz opened #539 "rviz_default_plugins runs out of memory on CI packaging jobs"
Copying from PR #532 which did not fix issue:

---

Opening issue because I need to ask for help. The [ros2 linux packaging job is failing to build `rviz_defaullt_plugins`](https://ci.ros2.org/job/packaging_linux/1843/) with an error that looks a bit like the agent ran out of memory.

[code]

This PR tried compiling separate object libraries and then linking them into the big `rviz_default_plugins

[2020-05-05 17:54] clalancette commented on #539
I'm taking a look in between other meetings.  One thing I've found so far is that the `mocs_compilation.cpp` that is generated by Qt takes ~2.5GB to compile.  Most of the other files (at least so far) are much smaller, between 500-1000MB.  It could just be death by a thousand cuts, and when we spin up enough simultaneous compilers, we run out of memory.  But I'm still collecting data, I'll summari

[2020-05-05 20:01] clalancette commented on #539
All right, I collected some data on what's going on here.  Essentially what I did was to make a bash script with the following contents:

[code]

I then pointed the colcon at that "cc" while building just the `rviz_default_plugins` package:

[code]

That gave me the output from the time command for each file as it completed.  Among the data printed is Maximum RSS size; here's one example:

[code]

[2020-05-05 20:56] allenh1 commented on #539
@clalancette / @sloretz I have been pretty annoyed building this package on my desktop, actually. It takes _way_ longer than just about anything else on my system.

The behavior I've noticed is rather different, though. I've got a 32 core threadripper (which gives 64 threads for compilation). This package takes longer than anything else in the stack, and seems to hang for quite a while, using only

[2020-05-06 13:53] clalancette commented on #539
All right, I've identified 3 different concrete things that will help here:

1.  Compile display_test_fixture.cpp just once, then reuse it as a library.
1.  Disable automoc stuff on tests.
1.  Split up mocs_compilation.cpp into one file per moc.

With the combination of all of those, the build is about 10% slower, but the maximum memory usage looks more like:

[code]

PR upcoming with all of those

[2020-05-06 21:12] clalancette opened #543 "Refactor rviz_default_plugins display_test_fixture.cpp to not use gmock"
In #540, we refactored the CMakeLists.txt for rviz_default_plugins so it didn't compile display_test_fixture.cpp for every single test.  We did this by making display_test_fixture a library that all of the tests link to.  This reduced the memory footprint and time to build.

In the current implementation, display_test_fixture.cpp uses a few gmock macros in the implementation.  Based on https://git

[2020-05-06 21:13] #539 closed

[2020-05-14 14:19] #527 closed

[2020-05-20 12:23] Tamme opened #547 "Segfault when having several topic properties in a display plugin and clicking second one"
When creating a custom display plugin with several ros topic properties. The first works okay, but when clicking on second one to open the dropdown list, segfault happens in
[code]

Stacktrace:
[code]
Code I'm using:
[code]
I'm using ROS Eloquent on Ubuntu 18.04. It worked fine in ROS1 Melodic.

[2020-05-21 19:04] hidmic commented on #547
@Tamme AFAIK, going from ROS 1 to ROS 2, `rviz` has changed. And without means of reproducing this, unless you can prove this is a fundamental issue with `rviz`, I'd be inclined to close this as a likely non-issue and encourage you to make this question (and any other question of this kind) in `answer.ros.org`, where you can get guidance while debugging your custom plugin. Can you provide any othe

[2020-05-22 09:43] #547 closed

[2020-05-22 09:43] Tamme commented on #547
Yes. That was my bad. Hadn't initialized the variables correctly.

[2020-05-27 09:55] ddengster opened #548 "ROS2 abstraction needs a (multithreaded) executor to add nodes to"
So I'm having issues whereby if create a subscriber, then I create a publisher and call publish() onto the same topics using the same node I will hit a deadlock. The fix I know of is to make a separate executor and add nodes to it ala this commit:

https://github.com/ros-planning/moveit2/pull/195/commits/a0c5c9ca43cb480f8ea80e600a3018432606328f

This should be considered a workaround.

And also fr

[2020-05-28 13:15] mganglb opened #549 "Eloquent branch not building Ubuntu 20.04"
Hello,

i tryed to build Eloquent from source on Ubuntu 20.04 and i got the following error.

`colcon build --symlink-install --packages-select rviz_ogre_vendor`

[code]

[2020-05-29 00:58] ymd-stella commented on #359
I did some research on this issue.
The summary and my opinions are summarized below.

#### Summary
* qos of tf2_ros::TransformListener is `DynamicListenerQoS(depth=100)`.
  * [tf2_ros/include/tf2_ros/qos.hpp#L42](https://github.com/ros2/geometry2/blob/2e4c23caf9f17104e42976c5f8236a34496e03f0/tf2_ros/include/tf2_ros/qos.hpp#L42)
  * [tf2_ros/include/tf2_ros/transform_listener.h#L58-L62](https://git

[2020-05-29 15:30] #363 closed

[2020-05-30 18:43] Martin-Idel commented on #549
Can you build the current master? Eloquent is not targeted to Ubuntu 20.04 and foxy is right around the corner (June 5th), so I'd propose to just use foxy on Ubuntu 20.04. If you have problems with the current master, that's a bigger problem!

[2020-06-01 14:10] flynneva opened #552 "cannot change point size when rviz2 is auto-sized to fit screen"
[similar to this discussion over on rviz for Noetic](https://github.com/ros-visualization/rviz/issues/1508)....when I run rviz2 on my machine it works great until I auto-expand it to fit the screen (either half the screen or full screen). once this is done I cannot change the size of the pointcloud topic I am displaying.

**Full screen auto-sized (cannot change size of points):**
![rviz2_full_scre

[2020-06-01 22:31] jacobperron commented on #549
@Martin-Idel is correct; Eloquent does not support Ubuntu 20.04. Please try the master branch.

[2020-06-01 22:41] jacobperron opened #554 "Unable to build when overlaying a fat binary installation"
To reproduce, install Foxy from a fat archive:

- [Linux](https://ci.ros2.org/view/packaging/job/packaging_linux/)
- [macOS](https://ci.ros2.org/view/packaging/job/packaging_osx/)
- [Windows](https://ci.ros2.org/view/packaging/job/packaging_windows/)

Then, try to build `rviz` in an overlay:

[code]

We get CMake errors at `rviz_rendering`:

<details>
<summary>Error:</summary>
<pre>
<code>
--- std

[2020-06-02 00:10] cottsay commented on #554
I stumbled across this quite a while ago during development of the CI jobs on build.ros2.org. I filed this issue at that time: https://github.com/ros2/ros2/issues/606

**EDIT:**
I think this is the first time I stumbled on it: https://github.com/ros-infrastructure/ros_buildfarm/pull/590#discussion_r260990002

[2020-06-02 04:57] dirk-thomas commented on #554
I tried it on Linux and the overlay workspace containing this repo build just fine for me.

Checking the content of the Windows archive it looks like that it *does* contain the directory `opt/libcurl_vendor/include`?

[2020-06-02 18:11] jacobperron commented on #554
Doing a search in the archive, I see that the prefix `C:/ci/ws/install` is appended to the include and lib paths. This prefix does not exist on my host and is an artifact of the CI host.

[code]

[2020-06-02 18:19] clalancette commented on #554
All right, so I tried this out on all 3 of our platforms.  This particular issue does not happen for me on Linux or macOS, but it does happen on Windows.

There is a separate, but related, problem that happens on all platforms.  When trying to build a downstream rviz_plugin against the Linux packaging build, we get a different set of errors:

[code]

I'll open a separate bug to track that, since i

[2020-06-02 18:32] clalancette opened #556 "Unable to build downstream rviz plugins using fat binaries"
With the current setup of `rviz*` packages, it isn't currently possible to build rviz plugins outside of this main repository when using fat binaries.

To reproduce this:
[code]

The output I get when building `nav2_rviz_plugins` is:
[code]

This looks like artifacts from the packaging machine, so should not be in the exported cmake path.

[2020-06-02 20:56] dirk-thomas commented on #556
The problem is due to ros2/rviz#537. There are more dependencies of `rviz_common` which don't export modern CMake target and therefore the exported target of `rviz_common` is *not* relocatable.

[2020-06-02 21:12] dirk-thomas commented on #556
I am pretty sure this is a duplicate of #554 in that the root cause is the same. Depending on what dependency doesn't export modern CMake targets different absolute paths are the issue. Ultimately in order for the rviz packages to be relocatable while they export targets all dependencies must export modern CMake targets too.

[2020-06-02 21:49] wjwwood commented on #552
Thanks, we'll keep an eye on that other issue (https://github.com/ros-visualization/rviz/issues/1508) and investigate here if needed, but I assume it's the same issue (likely with mesa).

[2020-06-02 21:49] wjwwood commented on #549
I'm going to close this because I believe the issue has been addressed. Feel free to continue to comment and I can reopen if necessary.

[2020-06-02 21:49] #549 closed

[2020-06-02 23:22] Karsten1987 opened #557 "[laser scan] segmentation on invalid topic"
The laser scan plugin makes RViz crash [segmentation fault -11] when selecting a wrong topic.

Steps to reproduce on OSX:

* ros2 launch dummy_robot_bringup dummy_robot_bringup_launch.xml
* Start Rviz2, add laser scan plugin, select "goal_pose" as topic.

[2020-06-03 10:12] mganglb commented on #549
Hello, ty for your quick response.
I know that foxy is around the corner and that eloquent is not targeting Ubuntu 20.04, but i was curious.

But I found out that the following commit of Eloquent works on Ubuntu 20.04. Maybe this is useful for someone else.
[code]

[2020-06-03 14:24] dirk-thomas commented on #556
This problem is resolved for me with the referenced PRs. It is easy to confirm since the generated `rviz_commonExport.cmake` file doesn't contain any absolute paths anymore.

That being said `master` (unrelated to the referenced PRs) shows a new absolute path in `rclExport.cmake` which results in these errors:

[code]

[2020-06-03 16:41] dirk-thomas commented on #554
Comparing the content of the fat archives on Linux and Windows shows that:

* On Windows `resource_retrieverExport.cmake` contains absolute paths to `libcurl_vendor` in the install prefix.
* On Linux it references `/usr/(lib|include)/x86_64-linux-gnu` which is still absolute but not tied to the install prefix.

So obviously the `resource_retriever` package isn't relocatable on Windows. ros/resourc

[2020-06-03 18:22] dirk-thomas commented on #524
This is not fixed in 5.0.1 but on `master` of `assimp`. Atm we see the same warning on macOS: https://ci.ros2.org/view/packaging/job/packaging_osx/1870/cmake/

[2020-06-03 23:40] jacobperron commented on #554
With the referenced PRs, it looks like this issue is resolved 👍

[2020-06-04 00:15] dirk-thomas commented on #554
Thanks for confirming!

[2020-06-04 01:03] #554 closed

[2020-06-04 03:51] dirk-thomas commented on #556
This seems to be solved in the latest packaging build from `master`.

But... of course there is another one containing absolute paths:

[code]

[2020-06-04 04:11] dirk-thomas commented on #556
Imported target "rviz_common::rviz_common" includes non-existent path
      "/home/jenkins-agent/workspace/ci_packaging_linux/ws/install/opt/rviz_ogre_vendor/include/OGRE"

Resolved by ros2/rviz#558.

But... of course there is yet another one containing absolute paths:

[code]

[2020-06-04 04:18] dirk-thomas commented on #556
Imported target "rviz_default_plugins::rviz_default_plugins" includes non-existent path
      "/home/dthomas/ros2/head/ws/install/interactive_markers/include"

Resolved by ros-visualization/interactive_markers#70.

But... no but this time :wink: This finally makes the build described in the original description pass.

[2020-06-04 05:38] dirk-thomas commented on #556
I am going to close this ticket under the assumption that the problem has been resolved.

[2020-06-04 05:38] #556 closed

[2020-06-04 09:28] Tingcccc opened #559 "RViz use custom shader for Mesh_Resource marker"
Hello,
Could I use custom shader for mesh resource marker?
How do I add the shader code in Rviz then bind shader and mesh material?
Look forward to your reply. Thank you!

[2020-06-04 09:37] Tingcccc opened #560 "RViz use custom shader for Mesh_Resource marker"
Hello,
Could I use custom shader for mesh resource marker?
How do I add the shader code in Rviz then bind shader and mesh material?
Look forward to your reply. Thank you!

[2020-06-07 20:11] Martin-Idel commented on #552
Since it came up in the other thread: RViz 2 uses Ogre 1.12.1 out of the box, so I guess recent Ogre won't help. If you want to give it a try, I could update to 1.12.6 and push a branch for you to try out (I have neither upgraded to 20.04 nor do I have an Intel x86 at the moment).

[2020-06-11 16:27] sloretz commented on #560
Hi @Tingcccc , this looks like a duplicate of #559. I'll close this one in favor of the first one.

[2020-06-11 16:27] #560 closed

[2020-06-11 19:32] Karsten1987 commented on #557
the bt I get from clang:
[code]

[2020-06-13 15:55] flynneva commented on #552
more than happy to help with testing

[2020-06-17 12:40] doisyg opened #566 "[foxy] Dropdown topic menu doesn't filter topics"
Hi,
Coming from ROS1 here. The topic menu in rviz2 is not filtering topics by type. For instance, when selecting a laserscan display, I can see all topics in its dropdown menu. In ROS1 I would have access only to laserscan type topics.
Is this a bug or a a desired behavior ?

[2020-06-17 17:32] jacobperron commented on #524
We're also seeing the warning in PR CI builds. E.g. http://build.ros2.org/job/Rpr__rviz__ubuntu_focal_amd64/2/

[2020-06-17 19:21] #359 closed

[2020-06-19 19:24] Martin-Idel commented on #566
Yes, this is well-known (see the README.md under "Not yet ported") - the feature couldn't be ported at the time because message traits didn't exist. Maybe it can be ported now, I may have a look later this month.

[2020-06-22 13:43] spiralray opened #568 "[osx] Cannnot start-up rviz2 if Path is registered on display list"
# Overview
If **rviz_default_plugins/Path** is registered on the list of display, rviz2 cannot start up on my Mac OS X.

[code]

After I delete setting files `~/rviz2/`, it runs again.

Has anyone run into the same problem?

## System
target platform: Max OS X Catalina (sry, I don't have Mojave)
ROS2 version: Dashing, Eloquent and Foxy

# Backtrace
[code]

[2020-06-25 16:35] sloretz commented on #559
@wjwwood friendly ping :)

[2020-06-25 16:39] sloretz commented on #557
@Karsten1987 friendly ping :)

Is this only on OSX? Does it happen in only in Foxy, or only with the latest sources?

[2020-06-25 16:45] sloretz commented on #548
@wjwwood friendly ping :)

[2020-06-25 16:54] Karsten1987 commented on #557
I don't have a ubuntu setup with X, so I can't tell if it's happening on other platforms as well.

[2020-06-25 17:21] wjwwood commented on #559
Hi @Tingcccc, I do not believe this is currently possible unless you make a custom display plugin, which case you can use Ogre directly and therefore any shader you desire.

[2020-06-25 17:21] #559 closed

[2020-06-26 08:27] SebastianGrans commented on #568
I too have this problem.

I can't even start RViz with a display config file at all.
[code]

[2020-06-26 08:48] SebastianGrans commented on #557
This is related to #568.

[2020-06-26 11:47] spiralray commented on #557
I found [a interesting article](https://qiita.com/Nabetani/items/498ae03023553087ff31) written in Japanese.

I summarized it below.

## When does this error occur?
[code]
This error is occurred if **the order of the constructor is incorrect**.
The constructor of `std::thread` must be called **after** `std:: mutex `.

## Why this problem doesn't occur in Ubuntu?
This problem only occur with Clang.

[2020-06-27 19:21] MakinoharaShouko opened #571 "rviz2 conflict with ros1"
I am working under a work space in which ros-eloquent and ros-melodic exist at the same time and when I launch rviz2, I get the following error
[code]
When I remove ros-melodic, rviz2 can work properly. I think there might be some conflict between rviz2 and ros1 but I have no idea how to resolve it. The problem persists after building ros2/rviz from source and sourcing `~/rviz2_ws/install/setup.ba

[2020-06-28 10:23] Martin-Idel commented on #571
Yes, the issue is most probably that `pluginlib` and `class_loader` (used by `pluginlib`) exist in both ROS and ROS 2. We had similar issues when writing a plugin to play `rosbag`s from ROS with `rosbag2` (see https://github.com/ros2/rosbag2_bag_v2)

Since you said you can compile `rviz2`, this is not a compile-time problem, so I guess the library gets linked correctly at compile-time but the wron

[2020-06-28 23:58] MakinoharaShouko commented on #571
I used `lddtree` to check and found that `libclass_loader.so` got changed from `/opt/ros/eloquent/lib/libclass_loader.so` to `/opt/ros/melodic/lib/libclass_loader.so` after sourcing a ros1 package. I have already switched the order of sourcing files by putting the ros1 package at the end of `.bashrc` but the problem still exists

[2020-06-29 21:09] Martin-Idel commented on #571
I guess you should source the ros 1 packages first, not last, because the setup scripts will prepend the corresponding variables. But nevertheless, this will then break ros1 packages using pluginlib. Using different environments (e.g. differently sourced terminals) may help, but I'm unsure. If I remember correctly, only one version of a library with the same SONAME will be loaded at any given time

[2020-07-04 02:37] spiralray commented on #557
I found a part of the cause.

<img width="471" alt="スクリーンショット 2020-07-04 11 14 39" src="https://user-images.githubusercontent.com/3600192/86503467-5cca1a80-bde9-11ea-815e-a853ed801a55.png">

In my opinion, `MessageFilterDisplay::unsubscribe` should be as follows.

[code]

[2020-07-04 03:03] spiralray commented on #557
I found and fixed additional failure.

- <s>tf_filter_ should not have nullptr</s>
- The order of destructor maybe not good.

[code]

[2020-07-04 03:29] spiralray commented on #568
This issue is duplicated with 557, so I close this. sry

[2020-07-04 03:29] #568 closed

[2020-07-10 14:32] Tahir-Rasheed-437 opened #573 "Laser tf conflict with rviz2 but works fine with rviz 1"
I am new user of ROS2. I am currently using ROS2-dashing. I have a vrep simulation of my Robot with all the topics (/odom, laser scans, etc). I am trying to visualize the scan data in rviz2. The required tf topics are generated in a node through a launch file with parameters use_sim_time true. I can see the stamp of the tf's are well according to the simulation time. But when i try to visualize th

[2020-07-10 20:23] Martin-Idel commented on #573
This could be related to https://github.com/ros2/rviz/issues/359 which only got merged recently (should be shipped with foxy). Do you have any way to try this out?

[2020-07-11 02:41] daisukes opened #574 "Rviz2 crashes with footprint drawing"
OS: Ubuntu focal
ROS2: foxy binary / foxy release src build (https://github.com/ros2/ros2/commit/fc010c9a297eceaedb398213dea14d5ad5d67844#diff-215a2eb6c7ad8b20796a9fceb48f8cc7)
Issue

I have been working with Navigation2 and experiencing Rviz2 crash sometimes when the controller is ready and drawing  (binary), sometimes the display option is changed (both src, binary).
It looks like footprint draw

[2020-07-14 20:50] Michael-Equi opened #575 "[foxy] Rviz Crashing with 0x00007ffff210daa9 in ?? () from /lib/x86_64-linux-gnu/libGLdispatch.so.0"
# Bug

OS: Ubuntu 20.04
Foxy binaries with RViz installed from apt (8.2.0-1focal.20200708.072202)
DDS: Fast-RTPS and Cyclone

## Replication

Running the Rviz file linked below and a seemingly handful of variations of it I get poor reliability when running it with my robot using the navigation2 stack. Sometimes it crashes as often as once every 30 seconds, other times it lasts for several minutes

[2020-07-15 07:50] Tahir-Rasheed-437 commented on #573
oh. so i have to shift to foxy now? I was trying to avoid that as i had some issues in compiling the libsimExtROS2Interface.(https://github.com/CoppeliaRobotics/simExtROS2Interface) that will generate communication of vrep with foxy.
For the tf issue in rviz2, i am using rviz in ROS1 using ros bridge but surely i can try to see if rviz2 in foxy is working fine or not.

[2020-07-15 14:43] michael1309 opened #576 "Crashing unter Windows debug using ROS2 foxy"
I tried to start rviz2 under windows by using the command
`ros2 run rviz2 rviz2`, but it crashes with the following error message:
`
[ERROR] [1594824079.660194600] [rviz2]: Ogre::InternalErrorException::InternalErrorException: Could not load dynamic library C:\dev\ros2_foxy\opt\rviz_ogre_vendor\bin\RenderSystem_GL_d.  System Error: Das angegebene Modul wurde nicht gefunden.
 in DynLib::load at C:\

[2020-07-15 20:04] Martin-Idel commented on #573
To see whether this actually fixes your problem, probably yes.

However, maybe https://github.com/ros2/rviz/pull/551 should be considered for a backport to dashing (and eloquent?) in any case as we have quite a few tickets related to this problem? @jacobperron maybe?

[2020-07-16 17:31] dirk-thomas commented on #571
Why are you trying to use both ROS 1 and ROS 2 at the same time / in the same workspace? That is not recommended / supported - except for very specific cases like the `ros1_bridge` which comes with very specific instructions how to build it (see its [README](https://github.com/ros2/ros1_bridge/blob/master/README.md)).

[2020-07-17 16:20] Karsten1987 commented on #557
closed via #572

[2020-07-17 16:20] #557 closed

[2020-07-17 22:39] MakinoharaShouko commented on #571
I had packages in eloquent which relies on another package in dashing and melodic. So I have been using eloquent and melodic at the same time. After I switched to a new computer it no longer works. But I recently found that the package I have been using in melodic had eloquent support. So I think it is no longer an issue.

[2020-07-17 22:39] #571 closed

[2020-07-19 21:59] HemaZ opened #578 "LaserScan showing [0] points from [0] messages"
Hi,
I'm having a problem visualizing LaserScan in Rviz2
I have fixed the frame as the LaserScan frame "link_1"  but in Status it shows "showing [0] points from [0] messages "
also, I've made sure that the topic currently has messages being published as you can see from the right terminal.

![screenshot-user-images githubusercontent com-2020 07 19-23_58_19](https://user-images.githubusercontent.com

[2020-07-20 13:24] Tahir-Rasheed-437 commented on #573
Yes its fine in foxy. no error is generated from rviz2 in foxy. the message filter is surely a great help. I am going to close the issue.
Many thanks

[2020-07-20 13:31] #573 closed

[2020-07-20 17:30] jacobperron commented on #573
In lieu of a patch for https://github.com/ros2/rviz/issues/548, I think backporting #551 is a reasonable thing to do. I can take a look at making the backports.

[2020-07-23 12:21] pfedom opened #585 "Map visualization fails if fixed frame is not picked first"
I am not sure if this is a bug or if I am misunderstanding something.
When I start slam_toolbox and want to visualize the created map in Rviz2 I need to first pick the fixed frame map and than add the map by topic.
If I first add the map and than change the fixed frame the map doesnt get visualized.

Only the order differs in both scenarios everything else is the same.

[2020-07-26 19:58] Michael-Equi commented on #575
Update: I have tested this further on both Cyclone DDS and eProsima Fast-RTPS which now both show crashing with the same segfault trace back. This hints to me that it is an issue with Rviz and likely due to how much data is being sent for RViz to display since when I include more widgets such as my robots depth sensors the crashing seems to be more frequent.

[2020-07-30 17:21] dirk-thomas commented on #576
What install instructions did you follow? Did you build ROS 2 Foxy from source?
* If yes, in release or debug?
* If not, which exact binaries did you download?

[2020-07-31 18:51] olmerg commented on #578
I have the same problem with this and other sensors, which I understand is that the problem is quality of service policy of sensor in gazebo plugins.

I think that the problem is the qos in the plugins because the plugins that works does not use rclcpp::SensorDataQoS , but my knowlegde abut ros2 is beginner level(nothing about QoS).

https://github.com/ros-simulation/gazebo_ros_pkgs/blob/ros2/gaze

[2020-08-01 07:31] michael1309 commented on #576
* Q: What install instructions did you follow?
  A: I followed the instruction given under https://index.ros.org/doc/ros2/Installation/Foxy/Windows-Install-Binary/

* Q: Did you build ROS 2 Foxy from source?
  A: No
* F: Which exact binaries did you download?
  A: ros2-foxy-20200710-windows-debug-amd64.zip
  (from https://github.com/ros2/ros2/releases)

I have used the pre-built debug version. Thi

[2020-08-05 06:49] rostest opened #588 "rviz2 on Windows exits immediately with error "missing package manifest""
I have installed prebuild ROS2 release on Windows by following the instructions on https://index.ros.org/doc/ros2/Installation/Foxy/Windows-Install-Binary, using ros2-foxy-20200710-windows-release-amd64.zip from https://github.com/ros2/ros2/releases/download/release-foxy-20200710. The examples from https://github.com/ros2/examples work nice.

Unfortunately, `rviz2` or `ros2 run rviz2 rviz2` exit i

[2020-08-06 22:46] audrow commented on #372
@ahcorde This is good to close, right?

[2020-08-07 01:47] wjwwood commented on #585
This is likely a bug in the map display where when changing the reference frame it doesn't display the previous state in the new frame and instead waits for the map to be sent again. I imagine that enabling/disabling the display after changing frames will also not work but could be tested.

Offhand I don't know for sure what the cause is, but I'll place this as "help wanted".

[2020-08-07 05:58] pfedom commented on #585
completely forgot about this issue.
I had a time missing in my odom transform message and now its working fine.
I think its related to the bug I described but I am not sure.

I think this issue can be closed, because it was an error in my setting.

[2020-08-07 05:58] #585 closed

[2020-08-10 06:41] #372 closed

[2020-08-13 20:45] jacobperron commented on #574
@daisukes I'm not able to reproduce the error. I've tried to follow the provided steps with Foxy Debian packages installed, but it doesn't look the the simulation is starting properly (the world looks empty with a laser scan visible). I see the following logs repeated in the terminal:

[code]

Is there a simpler example you can provide to reproduce the issue?

[2020-08-13 21:28] daisukes commented on #574
@jacobperron Thank you for taking the time!

In order to enable simulation, you need to set Gazebo env before launching the simulation.
[code]

[2020-08-13 21:40] jacobperron commented on #574
@daisukes Thanks, I can see the world and robot model in Gazebo now, but I'm still getting the same TF-related logs about invalid "odom" frame. I don't see any footprint in RViz.

[2020-08-13 21:54] jacobperron commented on #574
There was a recent fix to the tf2 message filter (https://github.com/ros2/geometry2/pull/279). @daisukes Since the stack traces you provided indicate that the tf2 message filter is involved, could you try the latest Foxy release and see if you can still reproduce this?

[2020-08-13 22:50] daisukes commented on #574
Thanks, I will check with the latest Foxy release.

Foxy has an issue with Fast-RTPS, which is recently fixed. Using cyclonedds may help the issue.
[code]

[2020-08-13 22:59] daisukes commented on #574
With the latest Foxy release (https://github.com/ros2/ros2/commit/4109e26bf96d0a0a9ef755364dabc851556f3089), it looks the issue has been gone.

So, I close this issue, and again thank you very much!

[2020-08-13 22:59] #574 closed

[2020-08-14 21:36] audrow opened #594 "Crashes when user sets non-positive topic depth"
In varying the depth of a topic, I can hit the down arrow or enter a number 0 or less. When I do so, RViz crashes. Perhaps this could be handled by not updating the depth to an invalid value and notifying the user in RViz that the topic depth must be greater than 0.

Here is the error message:

[code]

## System setup
* Using ROS2 rolling from source on Focal
* Using Fastrtps
* b8d9b6be6fa75bfa1eb

[2020-08-18 16:44] #566 closed

[2020-08-18 17:38] #502 closed

[2020-08-19 17:59] #594 closed

[2020-08-20 16:25] wjwwood commented on #548
I don't know if we can use a multi-threaded spinner because I think there are some interactions with Qt that assume it's all happening in the main thread.

Instead I think that displays should have their own executor (as a group or individually). We already worked around something like this in https://github.com/ros2/rviz/pull/551 which involved creating a new node.

With https://github.com/ros2/r

[2020-08-20 16:39] wjwwood commented on #575
I would need the backtrace from gdb to know where the crash is happening, the error above just says it happens in OpenGL, but does not say where it originated from.

[2020-08-22 04:13] Michael-Equi commented on #575
That is all I get when I run RViz with gdb. Are there some extra step I should follow to get better trace information?

[2020-08-22 11:21] joelloo opened #601 "Absolute paths for dependencies in RViz shipped with ROS2 Foxy"
I have installed ROS2 Foxy on Windows 10 using the binaries and instructions at https://index.ros.org/doc/ros2/Installation/Foxy/Windows-Install-Binary. I am trying to develop plugins for RViz2 that take in my custom data types. When compiling my plugin source against the RViz2 libraries shipped with ROS2 Foxy, I receive the following error messages:
[code]

For brevity, I only showed the error me

[2020-08-22 17:01] wjwwood commented on #575
Yeah you need to get the backtrace with `bt`:

https://sourceware.org/gdb/onlinedocs/gdb/Backtrace.html

[2020-08-25 08:38] anaelle-sw opened #602 "Rviz2 crashes at launch time (symbol lookup error, undefined symbol)"
## Bug report

| Required Info | |
|---|---|
|Operating System|Ubuntu 20.04|
|Installation type|Binaries|
|Version or commit hash|Foxy|

#### Steps to reproduce issue
Before my problem happened, `rviz2` was installed via Foxy desktop installation (`sudo apt install ros-foxy-desktop`), and it was working perfectly well.

Now, I would like to use `tf2` packages as sources (and no longer installed fr

[2020-08-25 09:24] anaelle-sw commented on #602
Update:

I just solved the problem without intending it, by cleaning and re-building my workspace for another reason.
Now Rviz2 launches as expected. But the `tf2` packages are installed from binaries, and I still need them to be installed from source.

So I tried to installed them again from source. And I realized the error may come from the fact that `tf2` packages are installed twice: from bina

[2020-08-25 09:24] #602 closed

[2020-08-27 15:00] ivanpauno commented on #576
@mjcarroll friendly ping

[2020-08-27 18:03] ivanpauno commented on #578
As commented by @olmerg the problem is the qos settings.
The ray plugin publisher is using [lossy qos](https://github.com/ros-simulation/gazebo_ros_pkgs/blob/2e4ddadef6aeb1dc0ebe5de3500270c07bd7ca19/gazebo_plugins/src/gazebo_ros_ray_sensor.cpp#L110), and the rviz subscription is requiring reliable communication.

@HemaZ did you try using "best effort" reliability?

[2020-08-27 18:05] ivanpauno commented on #578
Based on the comment [here](https://github.com/chapulina/dolly/issues/16#issuecomment-674422515), it seems that the rviz configuration needs to be stored in a file and rviz reopened.

[2020-08-27 19:12] ibraEssam commented on #578
tried "best effort" and "system default" and both works now. thank you

[2020-08-27 19:18] ivanpauno commented on #578
Bear in mind that system default is "unspecified", and depending on the rmw implementation (and other stuff ...) it might be reliable or best effort.
So prefer picking "best effort" to ensure that the pub/sub will match in this case.

[2020-08-27 19:18] #578 closed

[2020-08-27 21:45] audrow commented on #322
It seems that the index of the handle in `PointCloudSelectionHandler::onSelect` is invalid. When the error occurs the index is a large number (e.g., `16777214`). When this error isn't thrown, the index is normally a low number, like `0`. Below is some digging that I've done into the issue.

<details><summary>Following the code</summary>
<br>

It seems the code crashes on line 171, in `PointCloudSe

[2020-09-03 15:42] daisukes commented on #575
I got very similar crashes these days.
Here is the backtrace. I'm using 8.2.0 source build.

https://gist.github.com/daisukes/217ba1905af6097fd2e16a6e860eb633

[2020-09-03 22:01] audrow commented on #322
Here is an updated comment on looking through the code.

<details><summary>Here is where I believe that I have traced the error to</summary><pre>
#0  Ogre::GLTextureBuffer::download (this=0x55d0a4be56e0, data=...)
    at /root/ros2_ws/build/rviz_ogre_vendor/ogre-v1.12.1-prefix/src/ogre-v1.12.1/RenderSystems/GL/src/OgreGLHardwarePixelBuffer.cpp:370
#1  0x00007f1d15b9ae06 in Ogre::GLHardwarePixelBuf

[2020-09-03 22:58] audrow commented on #322
@martin-idel, I see you had a PR migrating the selection tool, do you have any thoughts on why `SelectionManager::renderAndUnpack` would be setting the `pixel_buffer_` to all ones when selecting co-located points?

[2020-09-05 15:44] ros-discourse commented on #268
This issue has been mentioned on **ROS Discourse**. There might be relevant details there:

https://discourse.ros.org/t/gsoc-and-intern-projects-for-summer-2020/16237/9

[2020-09-08 19:46] Martin-Idel commented on #322
I remember when we had a look at this - the whole selection is quite tricky, because instead of using standard Ogre selection mechanisms RViz ships its own. The high level overview, if I remember correctly is the following:

- In the first render pass, the selected part of the scene gets rendered on an invisible canvas a second time. However, instead of normal colors, every object (i.e. every rend

[2020-09-10 09:44] jediofgever opened #604 "RVIZ dies specifically when tryig to visualize PointCloud2 type"
My system and ROS components are as follows;

Ubuntu 20.04 focal

ROS
foxy debian install
RVIZ
foxy-rviz2 debian install

RVIZ -> about
[code]

Now for other types of sensor data such as images , laserscans, maps or RobotModel RVIZ works without crashing.
But when I want to visualize a pointcloud streamed from Gazebo depth camera plugin, RVIZ crashes. When I run RVIZ with gdb on, I only see;

[cod

[2020-09-10 09:51] jediofgever commented on #604
duplicate of https://github.com/ros2/rviz/issues/575, sorry

[2020-09-10 09:51] #604 closed

[2020-09-13 16:50] hdino opened #605 "Zoom with mouse wheel not working"
In rviz2 version 8.2.0-1focal.20200911.234728 on Ubuntu I cannot zoom with the mouse wheel (default settings). Zooming with a right-click does work though.

I tried to track down this error, but when I compile rviz2, it links to my installation in `/opt/ros/foxy`.

Update: This problem still occurs in version 8.2.0-1focal.20200921.203534.

[2020-09-21 09:25] hdino opened #606 "Render window disappears after saving an image"
After saving an image in rviz2 version 8.2.0-1focal.20200911.234728 on Ubuntu, the render window disappears. So far I haven't find a way to bring it back, only a restart of the application helps. When I click, hold and move the mouse in the area where the render window was, messages like `in RenderPanel::mouseMoveEvent()` show up in the terminal.

Update: This problem still occurs in version 8.2.0

[2020-09-22 22:48] wjwwood commented on #575
The error is coming from the processing of a polygon message, which passes through tf2 and message filters before being consumed with Ogre and eventually calling OpenGL. It's possible it is a bug in the polygon display class or something. I don't know off hand. I personally don't have time to investigate it and reproduce it, but maybe this will help someone else investigate it. Help wanted.

[2020-09-23 21:10] daisukes commented on #575
It crashes when it calls `clear()` of Ogre ManualObject.
I suspect a thread issue with the messaging thread and others.
What if while the other thread is calling `clear()`, the PolygonDisplay calls `clear()`?

[2020-09-30 08:22] Phymin commented on #605
I have also encounter this problem in ros2 foxy

[2020-10-15 20:21] mjeronimo commented on #606
@hdino I've just submitted a fix for this. Until that gets integrated, as a work-around, I've found that you can check and then uncheck "Save entire rviz window" in the image saving dialog box and it will restore the render window.

[2020-10-16 00:28] #606 closed

[2020-10-16 18:47] paulerikf commented on #605
Seems like the "Interact" mode is acting just like the "Move camera" mode again?

[2020-10-16 18:50] hdino commented on #605
True, for me both have the same behaviour.

[2020-10-16 20:40] jacobperron commented on #605
@paulerikf @hdino Can you confirm if the the interact vs move camera modes worked correctly in a previous ROS 2 version?

[2020-10-16 21:16] paulerikf commented on #605
@jacobperron Just checked my Eloquent install, with either "Move Camera" or "Interact" active the mouse icon is the "Move Camera" icon, however mousewheel zoom is available in both. Weird.

What is the difference supposed to be?

[2020-10-17 00:22] jacobperron commented on #605
@paulerikf Thanks for checking. I think the behavior you see is correct; if the "interact" tool is not hovering over an interactive element (e.g. an interactive marker), then it falls back to camera controls. The same is true in ROS 1 I'm pretty sure.

It sounds like zooming with the mousewheel has regressed in Foxy.

[2020-10-19 05:28] Phymin opened #612 "rviz2 crashes when using navigation2 in ros2-foxy under ubuntu20.04"
Hi,

This crash happens when I launch navigation2 with rviz2 in a simulation environment with gazebo11. The following is the error message:
[code]
Sometimes the crash happens when the vehicle nearly reaches the goal, sometimes happens when the vehicle is moving towards the goal, and sometimes happens with no operations, just leave the rviz2 there and it crashes.

At first, I thought maybe there is

[2020-10-22 02:10] francis0407 opened #616 "[dashing] rviz2 displays visualization_msgs::msg::Marker at wrong(opposite) position"
OS: Ubuntu 18.04
ROS: dashing

I'm trying to display a marker (visualization_msgs::msg::Marker) in rviz2. But rviz2 displays the marker at the wrong position.
For example, if I set the point's position as `(1, 1, 0)`, it shows at `(-1, -1, 0)` on rviz2.

Codes for reproducing the problem:
[code]

Result on rviz2:
![Screenshot from 2020-10-22 10-05-38](https://user-images.githubusercontent.com/2543

[2020-10-27 23:57] jacobperron commented on #616
Interesting. I can reproduce the issue with Dashing on Ubuntu 18.04, but not with Eloquent on Ubuntu 20.04 or Rolling on Ubuntu 20.04.
I'm not sure what changed since Dashing that would have resolved the issue. I'll see if I can identify the change.

[2020-10-28 00:16] jacobperron commented on #612
Possibly a duplicate of #575. @Phymin Let me know if you think I'm mistaken.

[2020-10-28 00:40] Phymin commented on #612
Yes, I could be the same problem, so I will close my issue, thank you!

[2020-10-28 00:40] #612 closed

[2020-10-28 00:45] Phymin commented on #575
@daisukes Could you tell me how to print this backtrace if I run the binary installed rviz in a launch file? Thank you.

[2020-10-28 03:59] daisukes commented on #575
@Phymin

Basic commands are here

[code]

You can find a more detailed example here
http://www.brendangregg.com/blog/2016-08-09/gdb-example-ncurses.html

[2020-10-28 07:26] Phymin commented on #575
@daisukes Got it, thanks again!

[2020-10-29 01:40] Phymin commented on #575
@daisukes Hi, sorry for bothering you again, after I set `ulimit -c unlimited` and run the rviz, after the rviz crashed, I didnot find any core.* file under the path of `/opt/ros/foxy/lib/rviz2`, does this mean the binary installed rviz cann't generate coredump file or this crash is not a coredump crash? Here is the error message:
[code]

[2020-10-29 03:20] daisukes commented on #575
@Phymin I usually find them in the home directory. My `/proc/sys/kernel/core_pattern` file looks like
[code]

[2020-10-29 05:54] Phymin commented on #575
@daisukes Hi, finally I got my rviz2 crash backtrace file just as follows, thank you very much.
[code]

[2020-11-03 02:08] binitshah commented on #601
Hi, I'm experiencing this bug as well. I've made a Rviz2 panel called [JoystickPanel](https://github.com/binitshah/JoystickPanel) that shows the same build error as above on Windows. It builds fine on MacOS and Ubuntu.

[2020-11-03 02:50] jediofgever commented on #575
this issue has made rviz2 unusable for the past month or so 😢

[2020-11-03 03:02] jacobperron commented on #575
https://github.com/ros2/rviz/pull/620 fixed a race condition with message displays. I'd be interested to know if it resolves this issue. If someone is able to try out the latest `ros2` branch from source that would be great.

[2020-11-03 08:31] JaehyunShim opened #621 "Any release plan for the packages in this repository"
Hi,

As the title says, I wonder when those packages in the repository will be released, desirably for the foxy version. I am working on developing rviz plugins and have to download and build this repository together every time.

Thank you in advance,
Jaehyun

[2020-11-03 11:02] iuhilnehc-ynos commented on #575
I am interested in this issue, but I have a question about it.

I think that https://github.com/ros2/rviz/pull/620 can fix this issue because the operation `manual_object_->clear();` in `PolygonDisplay::reset` and `PolygonDisplay::processMessage` will be called in one QT event thread, but https://github.com/ros2/rviz/pull/620 not taking advantage of the dedicated thread to process message will slo

[2020-11-03 17:58] jacobperron commented on #621
For Foxy, we release whatever is on the [foxy branch](https://github.com/ros2/rviz/commits/foxy) (most have already been released). Can you point out particular changes on the ros2 branch that you want to see in Foxy? Note, we typically don't backport features or ABI breaking changes.

[2020-11-04 00:29] JaehyunShim commented on #621
@jacobperron

I just ran $ apt update and could install the packages. I checked the ROS index website and they seem to have been released quite recently. Thank you very much.

Jaehyun

[2020-11-04 00:29] #621 closed

[2020-11-04 01:47] Phymin commented on #575
@jacobperron Hi, if I want build rviz2 ros2 branch should  I also build ROS2 from source? Because I cannot pass the build process with the ros2 binary installation.

[2020-11-05 01:23] jacobperron commented on #575
@Phymin You should be able to build against the Rolling distribution. See [Rolling Ridley install instructions](https://index.ros.org/doc/ros2/Installation/Rolling/).

[2020-11-06 00:57] Phymin commented on #575
After about one and half hour of build and 30 minutes test, the crash problem doesnot happen again, I will keep testing.

[2020-11-11 06:29] jediofgever commented on #575
When we can expect to see effect of #620 in foxy deb release ?

[2020-11-11 19:46] jacobperron commented on #575
It's tricky, since #620 is not ABI compatible with Foxy. I don't have time to look at making an ABI compatible fix at the moment, so if somebody would like to try I'm happy to review it.

[2020-11-13 10:19] binitshah commented on #601
@mjcarroll If I could help resolve this, perhaps with steps to reproduce the issue, let me know.

[2020-11-13 16:39] #605 closed

[2020-11-15 18:20] martimorta opened #627 "RViz2 not using configuration in python launch file"
Hi,
I was calling RViz2 from a launch file and it didn't pick up the configuration file, the arguments kwargs was:

    arguments=['-d '+str(rviz_path)]

I found out that removing the space after d solved the issue

    arguments=['-d'+str(rviz_path)]

The configuration of the system is Ubuntu 20.04 and ROS2 Foxy.

[2020-11-18 23:50] jacobperron commented on #627
@martimorta can you provide a more complete launch example? Thanks.

[2020-11-21 02:17] jacobperron commented on #616
I haven't been able to determine why this is a non-issue in Eloquent or newer. I've tried applying the following patches to Dashing but still see the same buggy behavior:

- #375
- #422
- #472
- #394
- #426

[2020-11-21 09:47] martimorta commented on #627
Sure, this is the fixed one

[code]

[2020-12-02 01:54] jacobperron commented on #627
@martimorta Thanks.

[code]
does not work because `launch` expects a *list* of arguments, not a single string with spaces between arguments. I think this is a quirk of the underlying asyncio calls in `launch`. I'm pretty sure this has nothing to do with RViz.

I suggest passing your arguments like so:

[code]

[2020-12-02 01:54] #627 closed

[2020-12-02 07:20] martimorta commented on #627
Ah true, thanks!

[2020-12-04 20:49] paulerikf opened #631 "Foxy - Updating Cube List marker tanking performance"
After switching to Foxy, I've noticed that displaying our voxel grid started tanking rviz performance. The voxel grid is visualized with a Marker of type CUBE_LIST. Published in a MarkerArray. The performance drop happens after the marker is updated a few times. Rviz will start to "hang" periodically each time the marker is updated. This also seems to block our visualization node, as I see the sam

[2020-12-06 04:30] Dayelyn opened #632 "[rviz_rendering] Wrong movable text position with multiple lines"
***Environment***
Ubuntu 20.04.1 LTS, ROS2 foxy;
***Phenomenon***
When I am trying to display text with ```visualization_msgs::msg::Marker::TEXT_VIEW_FACING```, it turns out that the rotation center of the text with multiple lines is not exactly the same with where I set, while a single line text is placed at the correct position;
***Analysis***
Then I try to read the source code in ```rviz/rviz_r

[2020-12-12 00:56] goekce opened #635 "mesa 20.3.0 causes segmentation fault"
I am on Archlinux on a headless server (xorg-server using [llvmpipe](https://docs.mesa3d.org/drivers/llvmpipe.html), i.e., no GPU but software rasterizer) and have the foxy distro installed. I have

xorg-server 1.20.10
mesa 20.3.0

When I run rviz -l:
[code]
After I downgrade to `mesa 20.2.2` then the problem is solved.

The logs differ only in GLX_EXTENSIONS. Here is the output from `mesa 20.2.2`

[2020-12-17 20:02] clalancette opened #637 "Review robot_joint.cpp for duplicate code"
As part of the review on #636, we noticed that there is a lot of duplication in the https://github.com/ros2/rviz/blob/ros2/rviz_default_plugins/src/rviz_default_plugins/robot/robot_joint.cpp file, particularly:

https://github.com/ros2/rviz/blob/2cfd04ed2af0072c985d76e52e3f776fb1bc6dbf/rviz_default_plugins/src/rviz_default_plugins/robot/robot_joint.cpp#L168

and:

https://github.com/ros2/rviz/blob

[2020-12-22 00:37] jacobperron commented on #632
@Dayelyn Thanks for the bug report and the detailed analysis. Would you care to propose a pull request fixing the issue?

[2021-01-08 17:25] anderwm commented on #443
Any advice how to get to the root of this problem?

[INFO] [1610126663.962665070] [rviz]: Message Filter dropping message: frame 'rgb_camera_link' at time 1610126658.085 for reason 'Unknown'

[2021-01-13 13:25] #443 closed

[2021-01-20 09:45] mehmetkillioglu commented on #575
Hi. I have noticed that the Navigation2 Default Rviz file causes Rviz2 to crash because of a one Polygon display. This is a workaround instead of a fix. This worked for me but I haven't tested it with a different setup. I am using the Cyclone DDS, with Foxy and Navigation2 installed from binaries. See edit below first.

If you remove/disable the Polygon under Controller Group, with the topic name

[2021-01-25 08:59] RemiRigal opened #639 "Add configuration for Image to be shown without proper TF/fixed frame"
I think that it would be nice to be able to see an image with the `Image` tool even when the `frame_id` provided by the image header is not found in the TF tree or does not match the `fixed frame` in Rviz.

It could maybe just be a checkbox to enable in the `Image` tool ?

[2021-01-29 08:22] BasVolkers opened #640 "Python API"
Hi, im looking to migrate my package to ROS2.
This package uses the python_bindings of rviz in ROS1.
Are these also available somewhere for ROS2? I can't seem to find them.

[2021-02-04 15:53] Abishalini opened #645 "Incorporating RViz2 into custom GUI (Qt app)"
I am trying to port [librviz](http://docs.ros.org/en/indigo/api/librviz_tutorial/html/index.html) to ROS2/RViz2
I could not find visualization_manager class (I built RViz2 along with ROS2 and I couldn't find the appropriate files for it on local). So I copied over visualization_manager.cpp/hpp into my workspace and linked it to `rviz_common::rviz_common` in CMakeLists.txt

Doing so gave me the fol

[2021-02-04 23:43] schornakj commented on #645
I'm also very interested in figuring out how to do this, since embedded Rviz displays are a useful feature to have in nicely-packaged custom robotics applications.

[2021-02-07 18:39] schornakj commented on #645
I wanted to provide some detailed information about what I'm trying to do and my current issues. I've been referring to t[he functions used while initializing the rviz2 application](https://github.com/ros2/rviz/blob/c5ff87d4fc92856ec901e45403ae33db8e8281ab/rviz_common/src/rviz_common/visualization_frame.cpp#L245-L374) while trying to get this working. This is also building from the code that @Abis

[2021-02-08 22:23] schornakj commented on #645
It's possibly worth noting that I also get errors about failures to load certain icon images:
[code]
In this case the image `MoveCamera.svg` does not exist at the requested path.

[2021-02-09 23:21] bostoncleek opened #646 "Cannot View Images"
I am trying to view an image (sensor_msgs/msg/Image). The data is being published after echoing the topic.

![rviznoimage](https://user-images.githubusercontent.com/36201047/107441636-c8e4cd80-6af2-11eb-913e-5282ce590360.png)

When running rviz I get the following message:
[code]

[2021-02-10 05:47] olmerg commented on #484
There exist some prevision to solve this issue?

[2021-02-11 00:08] jacobperron commented on #484
I don't have bandwidth in the near-term to look at this issue. Any help is appreciated.

[2021-02-16 03:14] jediofgever opened #648 "terminate called after throwing an instance of 'Ogre::ItemIdentityException'"
Hi,
RVIZ2 seems to crash regularly due to an error I get. I searched the error in existing issues and found no similar report. It might be a bug or a programing mistake I am doing. In any case I believe its better to report. Here is what I get from debugger.

![Screenshot from 2021-02-16 11-09-14](https://user-images.githubusercontent.com/18460336/108013968-d4327e80-7047-11eb-8302-bad163f47a94.png

[2021-02-18 01:46] EricCousineau-TRI opened #650 "(mirror) Reflect behavior from ros-visualization/rviz#379 (display/namespace/tf deleted when toggling visibility)"
See: https://github.com/ros-visualization/rviz/issues/379

\cc @hidmic

[2021-02-18 18:25] clalancette commented on #640
We don't currently have Python bindings available for the ROS 2 version of RViz.  I've assigned the issue to one of the rviz maintainers in ROS 2 to take a look at the feasibility of doing so.  Likely this will need community contribution to do so, as it isn't on our current roadmap.

[2021-02-19 21:55] OldETC opened #652 "Rendering in RVIZ2 doesn't show colors"
Running urdf_tutorial material colors not showing up.
system: Toshiba Satellite 3.6 GiB AMD Athlon iip320 dual-core processor x 2 with AMD Rs880 graphics
OS: ubuntu 20.04 LTS 64 bit Gnome 3.36.8 running x11 updated as of 2/16/2021
ROS foxy running RVIZ2
program edited and running according to the tutorial.
each link shows a material like this:

where name and rgba changes for the different colors.

[2021-02-23 02:55] jacobperron commented on #640
I don't know much about the Python bindings in ROS 1, but it [looks like](https://github.com/ros-visualization/rviz/tree/882ee38782517e60a69734c471eb9c09c208088a/src/python_bindings) we are generating the Python API from the C++ code with [shiboken](https://wiki.qt.io/Qt_for_Python/Shiboken) and/or [sip](https://pypi.org/project/sip/). So I think doing something similar should be feasible for ROS

[2021-02-25 18:14] clalancette commented on #645
Assigning to @jacobperron to take a look.  Most likely this results in this being marked as 'help-wanted' or 'backlog'.  Contributions here would be welcome.

[2021-02-25 20:18] schornakj commented on #645
@clalancette We were able to work through this and get our application working. I'll find a good place to post a minimal open-source example based on that `librviz` tutorial. I'll also post some follow-up comments here.

Some changes to the core RViz packages were required, so I submitted #649.

[2021-02-25 20:41] clalancette commented on #645
Great, thanks for the heads up.

[2021-02-26 21:05] mjeronimo commented on #646
@bostoncleek Assuming that your topics match and the QoS settings also match, the next likely reason is that the sim_time settings don't match between the publisher and rviz. This is relevant as rviz uses a message_filter for its subscriptions and a sim_time mismatch won't allow the messages to pass.

[2021-03-04 19:50] SteveMacenski opened #658 "Interactive markers when selected through "add" menu by topic doesn't apply topic"
An example: if you select interactive markers by a topic publishing it, add it to your rviz window, it doesn't populate the selected topic name like other display types do. You have to go in and then also add the "namespace" that you had previously selected.

[2021-03-09 14:30] clalancette commented on #648
There is some possibility that this was fixed in the `ros2` branch by #620 , so it may be worthwhile to try that out.

[2021-03-09 21:26] EricCousineau-TRI commented on #640
See also: https://gitlab.kitware.com/autopybind11/autopybind11/-/blob/55f7b955a65622414ebd961325779e3c404c3e13/README.rst#alternatives-comparison

[2021-03-11 13:17] clalancette commented on #652
This kind of seems like the transforms for the parts are not being published properly.

That being said, the proper place for questions like this is on https://answers.ros.org.  That is a central place for questions and answers, so you may be able to find some help there.  I'm going to close this out for now.

[2021-03-11 13:17] #652 closed

[2021-03-12 03:47] jacobperron commented on #646
Please also confirm that the frame ID in the camera message also matches the "Fixed Frame" in the RViz global options.

[2021-03-12 06:01] k0suke-murakami opened #662 "Low FPS in PointCloud2 visualization"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu 20.04
- Installation type:
  - binary
- Version or commit hash:
  - Foxy
  - rviz2: 8.2.1-1focal.20210226.004041
- DDS implementation:
  - Fast-RTPS
- Client library (if applicable):
  - rclcpp

#### Steps to reproduce the issue

1. Clone my test repository
  a. `git clone git@github.com:k0suke-murakami/send_lots_of_points_node_ros2

[2021-03-13 20:06] #632 closed

[2021-03-15 10:41] YVbakker opened #663 "rviz2 fails to build on mac os big sur aarch64"
when building according to the instructions in this repos README, the build fails when building rviz_ogre_vendor:
[code]
see https://gist.github.com/YVbakker/8d943865546469d77633c0a078925c17 for the full colcon output
I will be updating this issue with new revelations as they come

[2021-03-15 10:50] YVbakker commented on #663
The problems seem to be occurring in:
[code]

[2021-03-17 04:00] JaehyunShim opened #664 "usage for rviz_common::VisualizationManager function"
Hi,

There has been a change in the input arguments for the _rviz_common::VisualizationManager_ function (_rviz::VisualizationManager_ in ROS1) and now the following three have to be passed over to the function when called.

[code]

so  I did as follows.
[code]

but it fails when
[code]

The relevant [tutorial](https://github.com/ros-visualization/visualization_tutorials/blob/noetic-devel/librviz_

[2021-03-17 18:50] bostoncleek commented on #646
@jacobperron I set the Fixed Frame to camera_color_optical_frame which is the frame ID on topic /camera/color/image_raw. The image is not available.

[2021-03-17 19:09] mjeronimo commented on #646
@bostoncleek Did you confirm matching QoS and sim_time settings?

[2021-03-17 23:37] jacobperron opened #665 "RViz crashes when use_sim_time changes value"
To reproduce a segfault, run rviz2:

[code]

Then in another shell, set the parameter `use_sim_time` to `true`:

[code]

I've narrowed down the issue to this change in geometry2: https://github.com/ros2/geometry2/pull/380
Reverting it resolves the issue.

I'm not sure if RViz is using the TransformListener improperly or if it is a bug in geometry2.

[2021-03-17 23:56] jacobperron commented on #665
I've identified the bug: https://github.com/ros2/geometry2/pull/380/files#r596460592

[2021-03-18 10:48] adamdbrw commented on #662
We are investigating this at the moment and have some idea why this might be happening

[2021-03-18 17:13] #665 closed

[2021-03-19 09:37] goekce commented on #635
update: the problem still exists with `20.3.4` (`20.3.4-3` on Archlinux) and downgrading `mesa` is still a workaround

[2021-03-21 23:18] randy-deb opened #666 "Issue rendering cylinders"
When i add cylinders to my robot model, it seems they cannot handle decimal values.
Decimal values do work correctly with boxes.

This line works
<cylinder radius="1" length="1"/>

This line shows a black cylinder (0 height)
<cylinder radius="1" length="0.5"/>

This line become invisible
<cylinder radius="0.5" length="1"/>

These lines show exact same shape
<cylinder radius="1" length="1"/>
<cylin

[2021-03-24 20:49] YVbakker commented on #663
I identified the problem; the ogre libraries were simply not building for arm64, but some dependencies (such as truetype) were. I updated the ogre build scripts to include the arm64/APPLE combo on top of the intel and powerpc variants. At this point it may be advisable to do a general version bump from ogre version 1.12.1 to 1.12.11 anyway, but the procedure should be nearly identical for either o

[2021-03-29 15:52] geehalel commented on #666
It seems to be locale related. Using commas as decimal points in the urdf file solves the issue  (my locale is fr_FR). But that's not a solution. Simply launch rviz2 without a locale defined
[code]
Just starting using ros2, can't help more at the moment. But what a fantastic framework.

[2021-04-01 19:53] goekce commented on #635
After installing `mesa 21.0.1-1` the segfault is gone.

[2021-04-01 19:53] #635 closed

[2021-04-05 09:25] martimorta opened #667 "Camera not showing LaserScan nor Odometry"
Hi,
minor issue here, trying to see a LaserScan on a Camera display, it shows the tf and robot model but it doesn't show a LaserScan, descriptive screenshot below on a Ubuntu 20.04 and Foxy.
[edit] I noticed it doesn't show the Odometry arrows either.
Cheers
![rviz_not_showing_laser](https://user-images.githubusercontent.com/3284973/113559252-f0d74580-95f8-11eb-9ab1-d907f2dd9f91.png)

[2021-04-06 04:08] JaehyunShim commented on #645
@schornakj  Did it work for you guys? I downloaded the source code and tried it but it dies when calling the [this function](https://github.com/ros2/rviz/blob/ros2/rviz_common/src/rviz_common/visualization_manager.cpp#L222)

Thank you in advance
Jaehyun

[2021-04-06 12:51] clalancette commented on #645
Closing this as #649 was merged.

[2021-04-06 12:51] #645 closed

[2021-04-08 12:15] pijaro opened #669 "Changing rendering parameters for pointcloud2 while 'Selectable' box is unchecked causes app to crash"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu 20.04
- Installation type:
  - binaries
  - source
- Version or commit hash:
  - foxy
  - rolling (29a39c2e2d8daccaebc3f36433534d7b7de5272f)
- DDS implementation:
  - CycloneDDS

#### Steps to reproduce issue
1. run rviz2,
2. subscribe to any pointcloud2,
3. uncheck `Selectable` box,
4. try to change rendering style or size.

#### E

[2021-04-08 12:44] pijaro opened #670 "Clicking large selectable pointcloud results in performance hit"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu 20.04
- Installation type:
  - binaries
  - source
- Version or commit hash:
  - foxy
  - rolling (29a39c2e2d8daccaebc3f36433534d7b7de5272f)
- DDS implementation:
  - CycloneDDS

#### Steps to reproduce issue
1. run rviz2,
2. subscribe to a large pointcloud2,
3. try to move camera around but without clicking points (check FPS)
4. cl

[2021-04-08 13:30] clalancette commented on #663
@YVbakker Thanks for doing the investigation!  I've assigned this issue to you to help remind you to open a PR with the changes. I'll also mark this as a bug, and put it on our backlog, but we may not get to it anytime soon.

[2021-04-08 15:30] mjeronimo commented on #664
@JaehyunShim I took a look for similar code in rviz and found this: https://github.com/ros2/rviz/blob/ros2/rviz_common/src/rviz_common/visualization_frame.cpp#L325-L350

I suggest that you review that code for differences. Otherwise, you can submit a test case that can be used to reproduce the issue.

[2021-04-08 21:26] shonigmann opened #671 "rviz2 creates multiple nodes with the same name when Node name is set"
## Bug report
Launching an rviz2 node with the name argument set results in multiple nodes with the same name being spawned. I have only tried one .rviz config file that generates this behavior so far (from nav2_bringup
[nav2_default_view.rviz.txt](https://github.com/ros2/rviz/files/6281438/nav2_default_view.rviz.txt) for reference, converted to .txt to allow upload), but the behavior seems to be

[2021-04-09 00:27] JaehyunShim commented on #664
@mjeronimo  Thank you for your comment.

I copypasted the code in this guy's [comment](https://github.com/ros2/rviz/issues/645#issuecomment-774729655) and tested it but it didn't work. The program dies when running the function (setEnable) I mentioned in this [comment](https://github.com/ros2/rviz/issues/645#issuecomment-813806861).

If visualization_manager is going to be added to Rviz2 for the n

[2021-04-09 22:22] YVbakker commented on #663
No problem! I haven't updated the issue yet, but in the mean time I have rviz2 running natively on mac os 11 arm64. At the same time, because of a dependency issue with qt5 I was forced to build against qt6 and in the process fix some compatibility issues. So if done right I could potentially contribute qt6 support as well.

[2021-04-14 02:36] JaehyunShim commented on #664
@mjeronimo  ping

[2021-04-14 16:30] mjeronimo commented on #664
@JaehyunShim I've used the code as a starting point and have reproduced the failure (I'm getting a double free error). I need some time to debug to see if I can get to the root cause. Output should be a running example.

[2021-04-15 00:05] JaehyunShim commented on #664
@mjeronimo  Thanks! I will wait for your next comment then

[2021-04-15 08:07] jasmeet0915 opened #672 "RenderingAPIException causes rviz2 to crash after 100 tries."
Hi,
I am not able to get rviz2 to start on my system due to the following error:

`[ERROR] [1618426295.882467513] [rviz2]: RenderingAPIException: Unable to create a suitable GLXContext in GLXContext::GLXContext at /tmp/binarydeb/ros-foxy-rviz-ogre-vendor-8.2.1/obj-x86_64-linux-gnu/ogre-v1.12.1-prefix/src/ogre-v1.12.1/RenderSystems/GLSupport/src/GLX/OgreGLXContext.cpp (line 60)`

I have ubuntu 20.0

[2021-04-16 18:52] jpapon commented on #464
Anyone that comes across this in the future, remember that rclcpp::Duration constructor is in nanoseconds, and if you use small integers, or worse, floats, expecting that is in seconds, you'll get weird behavior.
If you specify the value in nanoseconds, the lifetime will work correctly.
See:
https://docs.ros2.org/ardent/api/rclcpp/classrclcpp_1_1_duration.html

[2021-04-20 01:17] david-beaudette commented on #672
Also had this problem, unable to start rviz2 after the latest Ubuntu upgrade of foxy. I was able to run rviz2 before without issues. A simple reboot fixed the issue on my side.

[2021-04-21 01:26] sisaha9 opened #674 "Rviz2 keeps giving message filter dropping message for reason unknown"
![Screenshot from 2021-04-19 13-13-45](https://user-images.githubusercontent.com/49205122/115483426-9a2b5780-a205-11eb-9df1-6fad8478e853.png)

I use data coming from the [SVL simulator](http://svlsimulator.com/docs/system-under-test/simulator-messages/) but when I try visualizing in Rviz I keep getting the error above. I can confirm the data is actually being published and the frames it mentions e

[2021-04-21 02:33] sisaha9 commented on #674
Here is my TF tree for reference

![Screenshot from 2021-04-19 12-40-18](https://user-images.githubusercontent.com/49205122/115488423-4d4c7e80-a20f-11eb-9664-b31f20dccde4.png)

[2021-04-21 15:39] jasmeet0915 commented on #672
@david-beaudette ohh. I have tried rebooting and upgrading but still it doesn't work. I am facing this issue from the beginning. I have not been able to start rviz2 since I installed it.

Also I Just noticed this was also printed in the beginning before the 100 lines of the above error:
`libGL error: No matching fbConfigs or visuals found
libGL error: failed to load driver: swrast
`
Tried some sol

[2021-04-22 20:25] mjeronimo commented on #671
@shonigmann When launching with

`ros2 run rviz2 rviz2 -d nav2_default_view.rviz`

There are actually four nodes created:

- **/lifecycle_manager_localization_service_client**
      This is a (non-spinning) node used to call the lifecycle manager service.
- **/lifecycle_manager_navigation_service_client**
       This is a (non-spinning) node used to call the lifecycle navigation service.
- **/rviz

[2021-04-22 20:33] shonigmann commented on #671
@mjeronimo, that makes sense, thanks for the clear explanation! I'll see if I can get a pull request in over on the nav2 stack to implement the more explicit node naming to avoid the warning message. Cheers

[2021-04-22 20:33] #671 closed

[2021-04-22 23:42] mjeronimo commented on #667
@martimorta  I tried to reproduce on Foxy using the nav2 stack, but was unable to. Also tried the latest Rolling code. In both cases, I was able to view both the Odometry arrows and the laser scan. I'll need more info/files to reproduce.

[2021-04-23 06:34] JaehyunShim commented on #664
@mjeronimo Kind reminder~.

Also, I would like to ask if your team can reconsider blooming in foxy the latest version of this repository which is with the visualization_frame.hpp and visualization_manager.hpp files. It takes quite a lot of time to compile the entire rviz every build. I believe the Moveit working group will also need it for their setup assistant. If you release it in the next distr

[2021-04-23 16:28] mjeronimo commented on #664
@JaehyunShim  Here's the code I've been working on: https://github.com/mjeronimo/rviz_embed_test. I haven't been able to get it working yet and could use some help debugging what's going on.

Regarding releasing the latest code for Foxy: we should be able to do that. @jacobperron any issues with this?

[2021-04-23 19:39] martimorta commented on #667
Hi Michael, just tried today after updates, same code on my side and I can see everything 🤷‍♂️ all good!

[2021-04-23 19:39] #667 closed

[2021-04-23 19:51] mjeronimo commented on #667
@martimorta Great, glad to hear it.

[2021-04-24 10:12] MartiBolet commented on #664
Hey @JaehyunShim @mjeronimo ,
I managed to get a working implementation of a custom Qt5 Application with a `RenderPanel`. I had to create a function in the source code of `rviz2` and maybe it's not the best option but it works. I have the solution in this [repo](https://github.com/MartiBolet/Custom_Qt5_Rviz2). Any feedback is apreciated.

[2021-04-24 11:39] #648 closed

[2021-04-26 04:49] JaehyunShim commented on #664
@MartiBolet  Awesome! I will test it and let you know if it works now. It will be even more helpful if you send a pull request to https://github.com/ros-visualization/visualization_tutorials/tree/ros2/librviz_tutorial from your repo, then other users in the community can also see and use your code.

[2021-04-26 05:49] JaehyunShim commented on #664
@MartiBolet

OK, so I read your code and it seems what you did is
1. instantiate a frame (which is a QMainWindow actually)
2. get the render panel from that frame
3. add that render panel to your QMainWindow

but my question here is about how to make a frame after initializing and using a manager & renderpanel.

[2021-04-26 07:18] MartiBolet commented on #664
Hey @JaehyunShim ,
Yes that's what it does. Since the error is the instantiation of the `VisualizationManager`, when there is a window event and tries to resize it, from this [comment](https://github.com/ros2/rviz/issues/645#issuecomment-774729655), I tried to instantiate the `VisualizationManager` in the same way the `rviz2` app does it. However, I couldn't get it work, so the way I found was ret

[2021-04-26 07:24] JaehyunShim commented on #664
@MartiBolet Yeah, I will wait for help from @mjeronimo a bit more. Thanks very much though!

[2021-04-26 13:25] Aerones-git commented on #674
I'm also having similar issue
[code]

Using ROS2. Code:

[code]

Hence, I believe it has nothing to do with rviz2 because the source of message can be found in https://github.com/ros2/geometry2/blob/bd125c5af32e2c63c70b7e0ba88e57094714b9b8/tf2_ros/include/tf2_ros/message_filter.h

[2021-04-26 17:25] mjeronimo commented on #664
@MartiBolet Thanks for letting us know about your work! I'll have a look at the repo you've provided.

[2021-04-27 19:38] jacobperron commented on #664
I'm assuming we're talking about code on the `ros2` branch. We should make sure we maintain API (and preferably ABI) compatibility for any changes being backported to the `foxy` branch.

[2021-04-28 00:12] JaehyunShim commented on #664
@jacobperron We are not talking about backporting but git pulling from the ros2 branch to the foxy branch and releasing it so users can use the newly added features in the foxy distro as well. Of course, API compatibility should be considered in this case as well though.

[2021-04-28 07:02] mjeronimo commented on #664
@MartiBolet @JaehyunShim I did some more digging and found that the code was crashing in Ogre here:

[code]
It was crashing because the XQueryTree call failed with a BadWindow return value. The code doesn't check for an error code from XQueryTree and then attempts to free 'children', which is an uninitialized local variable that holds a random value.

However, this was just a clue and didn't provi

[2021-04-28 07:43] JaehyunShim commented on #664
@mjeronimo  Thanks a lot. One more thing, the code is actually from https://github.com/ros-visualization/visualization_tutorials/tree/ros2/librviz_tutorial. If you send a pull request to this repository, it will be reviewed & maintained & updated by the community. I will test the code, see how different your code is from the one from ROS1 and add another comment later on.

[2021-04-28 10:32] MartiBolet commented on #664
Thank you @mjeronimo,
I tested your repo and the `RenderPanel` is created and you can visualize in the `MainWindow` but I can't change the view, I can't drag the mouse or scroll and zoom in or zoom out. Did this happens to you or it's just me?

[2021-04-28 12:48] JaehyunShim commented on #664
@MartiBolet

That's because he didn't add ViewController. Actually, I was thinking, using a pre-made frame is not a bad idea for such reasons. Users can take that easy option if he only adds the function with a RenderPanel type return to the VisualizationFrame class as you did.

(Update)
I am reading rviz_common::RenderPanel code and maybe I am wrong about this point

[2021-04-30 08:05] JaehyunShim commented on #664
Hi @mjeronimo

I would like to ask how it is going with the conversation you had with @jacobperron about the release of the latest rviz_common source code for Foxy? :smiley:

Thank you for your help in advance!
Jaehyun

[2021-04-30 11:30] Kaju-Bubanja opened #676 "DELETEALL Marker doesn't work for individual markers only for markerarrays"
I have following two functions:

[code]

and call them with one array marker pub and one marker pub

[code]

The markers from the array pub get deleted but not the one from the normal publisher. I would assume this to be a bug, but maybe I'm also using it wrong

[2021-05-01 12:40] cardboardcode opened #678 "rviz_rendering fails to build from source on Windows 10"
Hi all,

First of all, thank you for maintaining this package. 😄

## Issue Description
Been trying to build ROS2 from source on **Windows 10**, following the instructions on [official ROS2 documentations](https://docs.ros.org/en/foxy/Installation/Windows-Development-Setup.html)

However, running `colcon build --merge-install` as instructed under the section, **[Test and Run](https://docs.ros.org/e

[2021-05-03 20:23] clalancette commented on #368
I just ran a repeated job with this stuff reenabled: https://ci.ros2.org/job/ci_linux-aarch64/9301/.  While there are test failures, none of them are in rviz-related components, so this is probably fixed.  I'm going to close this out and open a PR to reenable these tests on the nightlies.

[2021-05-03 20:23] #368 closed

[2021-05-04 18:59] mjeronimo commented on #664
@JaehyunShim We can backport relevant PRs to Foxy, but at the moment, we have a lot going on with the upcoming ROS 2 Galactic release. It'll take a bit of time to get to this. Thanks for your patience.

[2021-05-05 09:23] chargerKong opened #679 "PluginlibFactory: The plugin for class 'rviz_common/Time' failed to load."
ros2 version: foxy
After I have compiled ros2 , I directly typed `rviz2`  and get this error

[code]
What will this error affect? How should I get rid of it？

[2021-05-05 09:53] BriceRenaudeau opened #680 "Path msg orientation error"
When displaying a `nav_msgs::msg::Path` with `frame_id = "odom"` using "map" as the fixed frame, the orientation of the poses is wrong.
The display depends on the orientation of the "map" frame.

![rviz_path_error2](https://user-images.githubusercontent.com/48433002/117122628-5fddc080-ad96-11eb-8cb4-408849735dc7.png)

![rviz_path_error](https://user-images.githubusercontent.com/48433002/117122613-

[2021-05-05 22:31] #662 closed

[2021-05-06 19:40] sisaha9 commented on #674
It would seem so. I can confirm rviz2 is working on another simulation

[2021-05-06 19:40] #674 closed

[2021-05-06 20:32] charlielito commented on #575
Same annoying issue here :disappointed: I think this should be fixed in the supposedly stable Foxy release.

[2021-05-07 19:37] #207 closed

[2021-05-10 14:43] asobhy-qnx opened #682 "Feature request: Add support for visualizing YUV image formats"
Most cameras in the field output data in YUV formats. It would be nice to add support for visualizing image msgs of YUV formats and not just RGB. This could be implemented by converting YUV to RGB within rviz and then visualizing it.

So if the encoding field in the Image msg is yuv then do the conversion in rviz2 to be able to see the video feed, https://github.com/ros2/common_interfaces/blob/mas

[2021-05-10 21:47] tfoote opened #683 "Nightly CI rviz_default_plugins failed to build on OSX"
The nightly repeated job failed to build last night: https://ci.ros2.org/job/nightly_osx_repeated/2339/console

stdout:

[code]

stderr:

[code]

[2021-05-11 18:27] hidmic opened #684 "Namespace-scoped Marker DELETEALL action"
## Feature request

#### Feature description

Current `Marker` and `MarkerArray` displays support `DELETE` actions, to drop markers one by one based on their ID, and `DELETEALL` actions, to all markers associated with that display. However, having a third delete variant, a namespace-scoped `DELETEALL` action, would greatly simplify applications that use many markers and namespace them based on som

[2021-05-11 19:58] asobhy-qnx commented on #682
@clalancette what do you think of this?

[2021-05-11 20:03] clalancette commented on #682
Sure, it seems like a reasonable enough request.  Please feel free to submit a PR for it.

[2021-05-11 20:08] asobhy-qnx commented on #682
Great! Yes we can work on it :+1:

[2021-05-13 20:50] #684 closed

[2021-05-17 07:48] pijaro opened #691 "GLSL 1.50 shaders on Mesa drivers and rviz2"
Hello,

Mesa drivers (Intel, Nouveau) doesn't work with glsl 1.50 shaders and rviz2. I already introduced workaround for that in PR #681 but that shouldn't be the general solution to this problem.

Running current master on rviz2 and Mesa drivers get us info that materials are not supported, without any information why is that (even that drivers supports OpenGL 4.6 and GlSl 1.50). While investigat

[2021-05-17 21:13] clalancette commented on #683
This one is a duplicate of https://github.com/ros2/ros2/issues/1049 (and is a bug in make itself).  I'll close this as a duplicate.

[2021-05-17 21:13] #683 closed

[2021-05-17 21:14] clalancette opened #692 "Panel close button is missing "X" icon"
The upper right-hand corner of every panel in RViz2 has a close button in order to close the panel.  On both Rolling and Galactic, that button exists, but is blank.  That button should have an "X" icon to indicate to the user that this is where it should be closed.

[2021-05-18 18:40] Martin-Idel commented on #692
If this is on Windows --> duplicate of https://github.com/ros2/rviz/issues/327, otherwise it's new.

[2021-05-18 18:44] clalancette commented on #692
It's on all platforms, though it is probably related.

[2021-05-20 17:45] hidmic commented on #679
@chargerKong additional information about platform and `rviz2` version would be helpful.

The `TimePanel` display is not available in Foxy and neither does it show in `rviz2`'s default configuration, so I don't fully grok what happened here.

[2021-05-21 02:46] hoppss opened #693 "rviz2 crash when subscribe to path msg remotely"
rviz2 crash when i add a Path plugin which subscribe to "/local_plan" msg that is published by local planner.
error msg is shown as following

[code]
os: ubuntu20.04
ros: foxy
navigation2 is runing at a real robot and rviz2 is running at my laptop, communicate by same wifi and same ROS_DOMAIN_ID;
rviz2 must crash when i subsribe to local_plan topic, but it is ok when i run tb3 gazebo simulation, i

[2021-05-26 13:30] hidmic commented on #679
@chargerKong friendly ping

[2021-05-26 15:16] #88 closed

[2021-05-26 15:17] clalancette commented on #146
We no longer use Poco at all, so this particular issue shouldn't occur anymore.  I'm going to close this out, but do feel free to open a new issue if you are still running into issues.

[2021-05-26 15:17] #146 closed

[2021-05-26 15:18] clalancette commented on #151
This isn't a problem for me anymore, so I'm going to close this one out.

[2021-05-26 15:18] #151 closed

[2021-05-26 15:20] clalancette commented on #201
As far I can tell, this doesn't happen anymore.  I'm going to close this out, but feel free to reopen if this is still occurring for you.

[2021-05-26 15:20] #201 closed

[2021-05-27 03:20] chargerKong commented on #679
@hidmic Thanks for your reply.
my system: Ubuntu 20.04
The branch of `rviz` on my computer is foxy
The most recent commit id is `e19a0750c4495646183ed819de62c7fea7a2624d`
I'm not sure what other information is needed..
Any pieces of information needed?

[2021-05-29 18:16] nkalupahana commented on #692
It's blank on foxy macOS as well.

[2021-05-31 03:43] griz1112 opened #695 "Phantom links in robot_model"
I was working with a robot and a zed camera on foxy. Noticed that when I ran the zed camera the links for the robot still showed up in rviz2. Did a reinstall of linux rebuilt foxy so the robot code wasn't on the disk. Rebuilt and ran the zed_wrapper brought up rviz2 robot_model and those links were still there. Very strange. Could be something with robot_state_publisher too hard to  tell.

[2021-05-31 14:29] hidmic commented on #679
@chargerKong do you happen to have a user defined `$HOME/.rviz2/default.rviz` file that attempts to load `rviz_common/Time`? That'd explain.

[2021-06-01 14:30] chargerKong commented on #679
Yes, I have a `default.rviz` defined in `$HOME/.rviz2/default.rviz`. This is my current file content. Any wrong here?

[code]

[2021-06-03 05:50] hoppss commented on #693
it might be caused by different frame trasformation calculation with tf and different stamp between robot onborad pc and remote laptop system clock; if i set rviz's global fixed frame is map, rviz might crash by msg with odom frame, if i set rviz's fixed frame is odom, rviz might crash by msg with map frame

[2021-06-03 13:54] kmamykin opened #697 "rviz_ogre_vendor hardcodes CMAKE_OSX_ARCHITECTURES to x86_64 failing build on Apple M1 architercture"
This line:
https://github.com/ros2/rviz/blob/94f6dd6958b2927a307893ff174f182dcc7afd0e/rviz_ogre_vendor/CMakeLists.txt#L123

I was able to make it build on Apple M1 by changing it to
[code]

I propose changing the setting to `-DCMAKE_OSX_ARCHITECTURES='arm64;x86_64'` for APPLE to build a universal library.

[2021-06-03 14:34] kmamykin commented on #697
Related https://github.com/ros2/rviz/issues/663

[2021-06-03 17:21] SteveMacenski opened #699 "Break fork from ros-visualization/rviz if not being reintegrated"
Hi,

I wanted to request a fork break (like we did with geometry2 https://github.com/ros2/geometry2/issues/237) so that we can use the GitHub search functionality to find function signatures and quickly track down implementations. With Forks in GitHub, this functionality is disabled and only searches the parent repository. Given that there are some changes, it would be nice if that functionality w

[2021-06-08 14:43] ahcorde commented on #676
@Kaju-Bubanja

When you try to remove the individual marker you should include the `frame_id`. Otherwise you should see something like this in the terminal:

[code]

It's just a small addition:

[code]

Please close the issue if this answer resolved your issue.

[2021-06-08 15:42] Kaju-Bubanja commented on #676
Thanks a bunch, this fixes the issue. I tried to add the time and thought maybe it's that, but didn't think of adding the frame id. Maybe it could be changed such that it works without? As is done for the arrays? Also I saw the error message from time to time but since I'm getting drowned with `No techniques available for material [PointCloudMaterial2327Sphere]` and it doesn't cause issues I also

[2021-06-08 15:42] #676 closed

[2021-06-08 16:13] AlexeyMerzlyakov opened #703 "rviz2 randomly crashes while running with nav2 stack"
### Basic info
RViz2 from frequently crashes during the use while running with Nav2 stack. The problem appears in random places even if all Nav2-related stuff was disabled (see minimal configuration file in reproduction section below). Crashes were [noted](https://github.com/ros-planning/navigation2/issues/2367) on Crystal and still appearing on latest Rolling.

### More info
Crashes appears irreg

[2021-06-08 20:25] jacobperron commented on #676
I suspect the `No techniques available for material` error is related to https://github.com/ros2/rviz/issues/691. Just a guess though.

[2021-06-09 08:37] Kaju-Bubanja opened #704 "Attaching a 4th monitor lags RVIZ2 with nouveau drivers"
I am running the master branch of ROS2 and RVIZ2. Everything works fine until I plug in my 4th monitor, then RVIZ starts to lag really hard, having around 0.2 fps. I confirmed that it is the monitor and the nouveau driver, because after unplugging the 4th monitor everything works fine. I now switched to the nvidia drivers and again everything works fine, also with 4 monitors.

System info: Ubuntu

[2021-06-09 13:29] erd3muysal opened #705 "Building RViz in a separate workspace failed"
I am following the instructions given in the GitHub repository however I am facing a problem that I could not fix it.

When I am trying to build via `colcon build --merge-install` this error appears.

[code]

OS: Ubuntu 20.04
ROS2 Distro: Foxy

[2021-06-09 14:49] clalancette commented on #704
Given that this looks to be a problem in the drivers (and not in RViz2 itself), I'm going to go ahead and close this.  Feel free to reopen if you think this is a problem in RViz2.

[2021-06-09 14:49] #704 closed

[2021-06-09 16:09] cturcotte-qnx opened #706 "Lifetime of Data for for TYPE_32FC1, TYPE_16UC1, TYPE_16S1, and TYPE_MONO"
### Improve lifetime of data_ptr in Rviz through the use of shared pointers.

The formats TYPE_32FC1, TYPE_16UC1, TYPE_16S1, and TYPE_MONO create a vector buffer inside the `setFormatAndNormalizeDataIfNecessary` function. This could cause memory leaks if they are not properly deallocated.

A change made using shared pointers for YUV422 and YUV422_YUY2 format images inside ros_image_texture.cpp cou

[2021-06-09 16:17] clalancette commented on #706
Actually, it is much worse than a memory leak.  For instance, looking at this code: https://github.com/ros2/rviz/blob/94f6dd6958b2927a307893ff174f182dcc7afd0e/rviz_default_plugins/src/rviz_default_plugins/displays/image/ros_image_texture.cpp#L277-L288

We enter the scope, do a stack allocation of a `std::vector`, and then take the address of that.  But then we *leave the scope*, which will destroy

[2021-06-10 07:11] Kaju-Bubanja commented on #704
I'm not sure it's only in the drivers. Because other windows don't lag, like firefox, pycharm, teams. It's just rviz. Even though the issue is clearly somewhere in the driver, I think it has to do with how rviz uses them. Also I don't have the rights to open the issue once closed

[2021-06-10 12:27] clalancette commented on #704
One large difference between those other things and RViz is probably that RViz uses OGRE for the rendering.  It might be interesting to test another project using OGRE (like Gazebo or Ignition), and see if they similarly lag.

Huh, I didn't realize that was the case.  I have to say, that policy decision from GitHub doesn't make a whole lot of sense to me; the reporter could just open another issue

[2021-06-14 17:53] hidmic commented on #679
Sorry for the delay @chargerKong. Yeap, this is what's causing the warnings:
[code]
That panel is not available in Foxy. It won't make any harm to have it there, just don't expect it to work.

Since this is non-issue, I'll close this now.

[2021-06-14 17:53] #679 closed

[2021-06-16 07:55] JaehyunShim commented on #664
@mjeronimo

Hi, It's been more than a month since your response. I would like to ask how it is going with the release work. As you can see in this issue thread, I don't think I am the only person who is waiting for it.

Thanks

[2021-06-16 17:49] mjeronimo commented on #664
@JaehyunShim Thanks for the reminder. I've submitted a backport PR here: https://github.com/ros2/rviz/pull/709. I've successfully tested this change on Foxy with my rviz_embed_test.

[2021-06-17 12:01] clalancette commented on #699
I've now requested GitHub to break the fork.

[2021-06-17 12:08] clalancette commented on #695
For questions like this, please as on https://answers.ros.org.  That is our central place for questions and answers, and you are more likely to get an answer there.  If you find that this is truly a bug in rviz or robot_state_publisher, then feel free to open a new issue.

I'm going to close this for now.

[2021-06-17 12:08] #695 closed

[2021-06-18 13:33] clalancette commented on #699
All right, this has now been done.

[2021-06-18 13:33] #699 closed

[2021-06-18 22:32] mjeronimo commented on #664
@JaehyunShim Change integrated into Foxy branch and bloom released: https://github.com/ros/rosdistro/pull/29963.

[2021-06-20 04:49] JaehyunShim commented on #664
@mjeronimo Thank you very much. I will test it when it is available and let you know if it works without issues.

[2021-06-20 20:17] mjeronimo commented on #664
@JaehyunShim  You're welcome. Closing this item.

[2021-06-20 20:17] #664 closed

[2021-06-21 12:21] BrettRD opened #712 "support ascii stl files"
I'm using rviz installed from ubuntu 20.04 binaries at foxy, trying to load a robot model exported from openscad.

I'm getting an error with:
`... rviz can only load binary STL files so it will not be loaded. Please convert it to a binary STL file.`
similar to rviz https://github.com/ros-visualization/rviz/issues/1364
which apparently is fixed in https://github.com/ros-visualization/rviz/pull/1365

[2021-06-22 06:16] nitin5 opened #713 "Compilation failure of ROS2 Gallactiv: rviz_ogre_vendor"
OS: Ubuntu 20.04

I am following the instruction for compilation of ROS2 Gallactic from [official webpage](https://docs.ros.org/en/galactic/Installation/Ubuntu-Development-Setup.html). I am facing the following linking error during the compilation. It appear that OGRE version is mismatching with requirement.
Current installed version is lib-OGRE1.12 (1.12.4+dfsg1-4) from official Ubuntu release de

[2021-06-23 12:50] clalancette commented on #712
If you'd like to open a PR to port that functionality to rviz2, that would be most welcome.  Otherwise, we'll keep it on the TODO list, but we have no guarantees of when it will get done.

[2021-06-23 13:43] clalancette commented on #713
Please don't open duplicate questions on multiple different repositories; this one is a duplicate of https://github.com/ros2/ros2/issues/1153 , so I'm closing.

[2021-06-23 13:43] #713 closed

[2021-06-25 15:44] clalancette commented on #703
So I spent a bit of time looking at this yesterday.

First, thanks to @AlexeyMerzlyakov for providing easy instructions for a reproducer.  Following the instructions in the initial comment, I was able to reproduce after a few tries.

I then rebuilt parts of the stack with debugging enabled.  After adding in some debugging here and there, my initial thought is that this is actually a bug in `tf2_ro

[2021-06-28 09:17] Kaju-Bubanja opened #720 "Rviz2 for the browser"
There are some cool projects that ported parts of rviz to the browser, unfortunately they are heavily tied to the ros binaries and not easy to port for rviz2. Then there is following package: https://github.com/emersonknapp/omni-rviz2 but it's stale. So I would like to make a feature request for rviz2 in the browser. I was wondering if this was discussed before and if somebody has an estimate of h

[2021-07-01 13:12] clalancette commented on #705
This kind of question is best asked on https://answers.ros.org, which is our central question and answer site.  If it turns out to be bug, then an issue can be created.  I'm going to close this one out for now.

[2021-07-01 13:12] #705 closed

[2021-07-02 07:53] wolfv opened #723 "rviz_ogre_vendor package doesn't seem to try to `find_package(Ogre)`"
It seems that the assimp vendor package correctly tries to find an installed assimp and uses that if available. However, the Ogre vendor CMakeLists doesn't attempt to find Ogre (if I am reading the CMake correctly).
It would simplify our builds in the RoboStack project quite a bit if we could use the pre-built binaries from conda-forge. (some context here: https://medium.com/robostack/cross-platfo

[2021-07-03 19:45] wolfv commented on #720
You could also have a look at the Zethus project which reimplements RViz in JS + ThreeJS (github.com/robostack/zethus)

[2021-07-03 19:48] wolfv opened #724 "Assimp vendor package doesn’t forward assimp::assimp target properly"
When assimp is found on the system and is new enough to expose the assimp::assimp new style cmake target, the logic to transform that into an absolute path fails.

Maybe it would be better to either leave it as is or check if there are colons in the name?

[2021-07-06 13:15] clalancette commented on #723
I don't recall now why we decided to unconditionally vendor OGRE.  @wjwwood do you remember?

[2021-07-06 14:31] wjwwood commented on #723
I think that we vendored it because the versions below it didn't work for us, the ones in Ubuntu, and later versions had bugs too. I imagine this has been resolved by now, at least partially. But I know that the version used by rviz in ROS 1 and ignition/gazebo didn't work for us.

One reason we didn't have the conditional "find it upstream first" is that the cmake files that are provided by ogre

[2021-07-06 14:34] wolfv commented on #723
Thanks for the reply.
We've got a bunch of patches in the ros-galactic build-scripts repo: https://github.com/RoboStack/ros-galactic/tree/main/patch

I think some are very specific to our use-case, but we could try to generalize them enough to get them into a merge-able format. Would you be interested in that?

[2021-07-06 14:36] wolfv commented on #723
PS: rviz2 should work as a conda-package on linux: `{conda or mamba} create -n ros2 ros-galactic-rviz2 -c robostack -c conda-forge` if you want to try it out :)

[2021-07-07 15:47] JaehyunShim commented on #664
@mjeronimo

Hi, I tested rviz_common and you seem to have not added the "rviz_common/visualization_frame.hpp" file which is mentioned in our comments above. I also checked the foxy branch and it is not on the list. Could I get help with it?

Thanks,
Jaehyun

[2021-07-08 13:50] padhupradheep commented on #693
I'm also facing the same issue, is there any update ?

[2021-07-08 20:49] JaehyunShim commented on #664
@mjeronimo

FYI, resource_retriever in the foxy branch will also be updated as retriever.hpp is used in the code in rviz_common. Please let me know if there is anything I can help.

Regards,
Jaehyun

[2021-07-09 13:10] Serafadam commented on #693
Same issue here, I'm wondering if this is related to https://github.com/ros2/rviz/issues/691

[2021-07-12 18:37] jacobperron commented on #720
I'm not aware of any prior discussions about supporting RViz in the browser. It sounds like a large endeavor. If someone would like to make an effort towards browser support, I suggest they start with a design document (e.g. a new article [here](https://github.com/ros2/rviz/tree/ros2/docs)), describing the planned approach and what would have to change architecturally. Having a design doc reviewed

[2021-07-14 07:46] #682 closed

[2021-07-14 17:31] mjeronimo commented on #664
@JaehyunShim I'm currently on vacation through July 21st. Feel free to submit PRs for any missing files and I'll review when I get a chance.

[2021-07-14 19:05] JaehyunShim commented on #664
@mjeronimo  Hi thank you very much for your reply. PR is just the code in the ros2 branch. Could you merge it to the foxy branch as it has not hit EOL yet?

[2021-07-15 17:24] jacobperron commented on #664
@JaehyunShim Feel free to open a PR backporting the changes to the `foxy` and/or `galactic` branches and we can review it.

[2021-07-15 19:20] JaehyunShim commented on #664
@jacobperron

Thank you very much for your support.
1. I can see the galactic branch is up to date.
2. Foxy currently needs the same support (syncing with the ros2 branch).
3. I do not understand what you mean by sending a PR. It only has the dependency problem (https://github.com/ros/resource_retriever) as it already works in galatic. It only needs bloom release for the dependency (resource_retri

[2021-07-15 19:31] clalancette commented on #664
The thing is, we do not really "sync" between the `ros2` branch and the older branches.  We carefully backport each change to older versions, being careful of API and ABI concerns.  So it needs someone to actively push it forward.

We do support Foxy, but we rely on the community to put the work into the parts that they are interested in.  In this case, you are specifically interested in the Foxy

[2021-07-15 20:10] JaehyunShim commented on #664
@clalancette

Thank you very much for your explanation! That explanation is very helpful and clear. If that is the case, I would like to ask the following questions.

1) No backporting for the dependencies too? While more features from ROS1 rviz were added to ROS2 rviz_common, there were changes made also in its dependencies (ex, [link](https://github.com/ros/resource_retriever/network)). CI will

[2021-07-15 21:20] JaehyunShim commented on #664
Hi @clalancette

OK! I tested 2) and it perfectly worked without any issues. You mentioned

but could I ask about it in more detail? Other than potential CI crashes, is there anything else that has to be considered? (ex, do you have sort of a policy that only certain features can be provided in old distros you can encourage users to use newer distros?)

Thanks,

[2021-07-16 15:18] clalancette commented on #664
No, we can backport features to older distributions if it makes sense, but...

We guarantee API and ABI stability within a ROS distribution.  That is, once we do the release, we make sure not break either the programming API, and we make sure not to break the binary ABI (which is the layout of the code and data in memory).  So sometimes when we do backports, we have to make certain changes to the

[2021-07-19 17:43] #658 closed

[2021-07-19 18:25] SteveMacenski commented on #658
Thanks @rebecca-butler!

[2021-07-19 21:35] j-corvo commented on #674
@sisaha9 have you solved the problem? I'm having the same problem with SVL simulator too and it's exactly the lidar that is causing the issue

[2021-07-19 21:47] sisaha9 commented on #674
In my case it was simulator lag. Is your machine able to run it frequently enough?

[2021-07-19 22:01] j-corvo commented on #674
@sisaha9 I think so. My laptop has a ryzen 7 CPU and RTX2060 mobile. Isn't that enough?

[2021-07-20 16:27] carlospzlz opened #730 "Rviz2 crashes when the sparse map is empty"
We are doing some live tests with our robot platform and we display the topics using `rviz2`. In one of our tests we cover the camera of the robot, therefore the sparse map that is published contains no landmarks.
`rviz2` crashes with the following error:

[code]

[2021-07-21 17:08] #327 closed

[2021-07-21 17:08] #692 closed

[2021-07-22 03:05] jacobperron commented on #730
@carlospzlz Could you provide precise steps for reproducing the crash. This will significantly improve the chances of the bug being fixed. Thanks!

[2021-07-23 18:07] dongpan90 opened #735 "libOgreMain.so.1.12.1: undefined reference to `__atomic_fetch_add_8'"
/usr/bin/ld: ../../lib/libOgreMain.so.1.12.1: undefined reference to `__atomic_fetch_add_8'
collect2: error: ld returned 1 exit status
make[5]: *** [Tools/XMLConverter/CMakeFiles/OgreXMLConverter.dir/build.make:176: bin/OgreXMLConverter] Error 1
make[4]: *** [CMakeFiles/Makefile2:1361: Tools/XMLConverter/CMakeFiles/OgreXMLConverter.dir/all] Error 2
make[4]: *** Waiting for unfinished jobs....
make

[2021-07-23 18:22] clalancette commented on #735
Yeah, we don't test on or support armv7l.  So you are on your own here.  If you find a solution, do feel free to open PRs; we are happy to review them.

[2021-07-24 13:08] #735 closed

[2021-07-27 16:57] PSotiriadis commented on #693
I am facing exactly the same problem. RVIZ2 crashes, with the same error, if I visualize /local_plan topic. If not, everything is OK and I can navigate, giving waypoints.
Additionally, before this error, I also receive the following error, relative to GL:

[code]
I don't know if both errors are connected...

I have also Ubuntu 20.04 with foxy. I start also SLAM & Navigation on real robot and on my

[2021-07-28 13:56] rebecca-butler commented on #680
@BriceRenaudeau could you please provide a code sample to reproduce this issue? Thanks!

[2021-07-28 14:16] Serafadam commented on #693
@PSotiriadis I stopped having this issue after reinstalling Linux & switching to Galactic, maybe this will help

[2021-07-28 15:47] BriceRenaudeau commented on #680
This simple node publishes a path every 5s.
[code]

Then you can try publishing /TF from map to odom with different orientations.

[2021-07-30 10:36] PSotiriadis commented on #693
Hi Serafadam, First thank you very much for your fast reply. Jo, thats a good tipp and it really helps me. It is in my plans to jump to galactic but now, I see, I need to do it faster 😀Have a nice day and a nice weekend!!!

[2021-08-03 08:27] Marenix opened #737 "Dashing - no camera info for camera display"
I noticed some time ago that on Dashing camera display didn't work. I also saw that rviz was looking for camera_info on the wrong topic. I didn't go further into it, until today, and I found [PR#516](https://github.com/ros2/rviz/pull/516) which seemed to address it. Still, camera display wasn't on the newest release. Looking through the changes in that PR, I saw this:
![PR516](https://user-images.

[2021-08-04 18:49] #680 closed

[2021-08-05 17:57] clalancette commented on #737
This seems to have all been fixed in later versions; see https://github.com/ros2/rviz/blob/24f617cb5e76a75ee9ed2a37ab1284ad4c686471/rviz_default_plugins/src/rviz_default_plugins/displays/camera/camera_display.cpp#L282-L303 , for instance.

Since Dashing is now EOL, we won't be doing any further updates to it.  But if you are still having problems with the supported versions (Foxy, Galactic, or Rol

[2021-08-05 17:57] #737 closed

[2021-08-06 07:09] Marenix commented on #737
Yes, it has been fixed in later version. This works in every version after Dashing. I was just confused that I found a PR that "fixed" of camera display not working in Dashing, and the problem still existed in the newest Dashing release.

Anyway, thank for the help!

[2021-08-08 15:02] flynneva opened #738 "compressed image visualizer?"
[it looks like `image_transport`](https://github.com/ros2/rviz/pull/523) is being used now within rviz2....however i cant seem to get the `image` plugin to even list the compressed image topics, i can only see them listed in the `camera` rviz plugin.

are there plans to add support for compressed image topics to rviz2?

[2021-08-09 12:22] clalancette commented on #738
Part of the original impetus to making rviz2 use `image_transport` was exactly so that we could write functionality for compressed images.

That said, I don't think there are currently any concrete plans to implement that.  But we'd definitely be happy to review any PRs to implement that.

[2021-08-09 16:01] Kaju-Bubanja opened #739 "Can't link with assimp"
When trying to compile rviz_rendering I get following stacktrace:
[code]

I have both assimp-utils and assimp-testmodels installed. This is my output for `ls -la | grep assimp`

[code]

How can I get rviz_rendering to build?

[2021-08-09 17:20] clalancette commented on #739
Please open questions like this on https://answers.ros.org.  That is our central, searchable site for questions and answers.  When you open your question, please be sure to put a lot of detail in it, including what operating system you are using, what ROS version you are using, and the exact commands you are using that are failing.

I'm going to close this one out.

[2021-08-09 17:20] #739 closed

[2021-08-10 08:58] Kaju-Bubanja commented on #739
Deleting the rviz_rendering folder in the build folder and rebuilding the package fixed this error

[2021-08-10 12:33] bergercookie commented on #639
I think this is going to be an issue especially with Visual SLAM algorithms, e.g., [orbslam](https://github.com/abhineet123/ORB_SLAM2). When a vSLAM algorithm loses tracking, e.g., due to poor visual information, rapid motion etc. they will stop publishing updates for their corresponding frame until they relocalise / regain tracking. During that duration where tracking is lost, users of rviz would

[2021-08-10 16:38] ahcorde opened #740 "Improvements: Inertia"
The current implementation for inertia is pretty simple, because it only takes into account the diagonal terms.

Using something like `ign-math`'s [EquivalentBox](https://github.com/ignitionrobotics/ign-math/blob/9519ce74dae8b8c68303ef81e85fda27d9f4f494/include/ignition/math/MassMatrix3.hh#L1001-L1012) would also take the off-diagonal terms into account.

How maintainers feel about adding `ign-mat

[2021-08-10 16:55] jacobperron commented on #740
Are you referring to a particular RViz display when you talk about inertia?

[2021-08-10 16:59] clalancette commented on #740
Also note that we need to figure out how to deliver `ign-math` on Windows and macOS.  If we can figure that out (and answers' @jacobperron 's question), I'd be OK with adding a dependency.

[2021-08-10 17:02] wjwwood commented on #740
In general, I'm not opposed to adding a dependency like this, but I do have two concerns:

- If the dependency can be avoided trivially, like if the math is simple, then that's probably better, just because avoiding dependencies of any kind is generally a good idea.
- If we depend on it via rosdep how do we get it for macOS (presumably available via Homebrew) and Windows?

[2021-08-11 11:16] XDGFX commented on #720
This is something that would be useful for me - the device I'm developing on is headless and so I'm running RViz2 on another computer on the network.

This works with ROS Docker containers with host networking, but sometimes bridge networking is preferred/required, and as such a different computer on the network cannot see ROS topics inside the bridge network.

A possible solution for my use case

[2021-08-11 13:00] clalancette commented on #720
For what it is worth, there are projects like https://webviz.io/ and https://foxglove.dev/ that do exactly this.

Whether it makes sense to port this particular RViz2 code to the browser, or just use one of those projects, isn't totally clear to me.

[2021-08-11 14:09] XDGFX commented on #720
I had seen some of these before and they look like they would work perfectly. I've been having lots of trouble getting https://github.com/RobotWebTools/rosbridge_suite/ to work, which both depend on for live viewing. Apparently an official release for Foxy is happening Soon™ (https://github.com/RobotWebTools/rosbridge_suite/issues/536), so maybe when that's out I will get it working! Thanks.

[2021-08-11 19:52] ParthGaneriwala opened #741 "rviz_common package failed to build: MacOS Ros2 Galactic Installation"
## Bug report
[code]
**Required Info:**

- Operating System:
  - macOS Big Sur v11.5.1
  - Processor - 3.8 GHz 8-Core Intel Core i7
  - Memory - 32 GB 2667 MHz DDR4
- Installation type:
  - from source
- DDS implementation:
  - OpenSSL

#### Steps to reproduce issue
[code]

[code]

[2021-08-11 20:00] clalancette commented on #741
It looks like you have 2 different versions of Qt installed, one in `/usr/local/include` and one in `/usr/local/opt/qt@5/lib`.

I have no idea if this is standard in Big Sur or not, but I'll suggest just having one installed.

[2021-08-11 20:36] ParthGaneriwala commented on #741
I just checked, there is no Qt in the `/usr/local/include` but there are 2 versions of Qt (Qt5 and Qt6). That happened after a normal installation of Qt.

[2021-08-11 20:36] ParthGaneriwala commented on #741
I just checked, there is no Qt in the `/usr/local/include` but there are 2 versions of Qt (Qt5 and Qt6). That happened after a normal installation of Qt.

[2021-08-11 21:27] jhurliman commented on #720
Foxglove developer here. If you use the desktop version, you can connect to a native ROS 1 robot without the rosbridge WebSocket bridge. Support for native connections to ROS 2 robots from the desktop app should land near the end of this month. The web version is unable to open raw TCP/UDP sockets so it relies on rosbridge for connectivity, but this will be true of any web app.

We have patched ro

[2021-08-11 23:08] chapulina commented on #740
We ship Ignition Math binaries through Homebrew and conda-forge, but I understand ROS may not be able to consume either directly. We're happy to do the work needed to provide binaries to the ROS ecosystem though. I'm talking to @nuclearsandwich and @j-rivero about options.

Mass properties, see https://github.com/ros-visualization/rviz/issues/1204 and https://github.com/ros2/rviz/pull/714

It's ce

[2021-08-12 10:19] XDGFX commented on #720
Hi John! After a few hours of fiddling I did manage to get rosbridge_suite working with ROS2. Foxglove seems to be working for the most part, I need to do some more testing before I can confirm it'll work for my use case.

Slightly off topic, but for some reason I was getting formatting errors in the launch file, and in the Python script the `ParameterDescriptor` didn't like the `dynamic_typing` a

[2021-08-12 17:00] jtbandes commented on #720
The ParameterDescriptor issue is known and seems to be a difference between Foxy and Galactic (assuming you’re using Foxy?) — I’ll try to get this fixed before making a Foxy release. Might ask for your help in testing it :)

Native connections refer to TCP/UDP-based connections to other ROS nodes directly, with Studio itself acting as a ROS node. SSH connections are also something we’ve considered

[2021-08-12 22:52] XDGFX commented on #720
Ah sure, yep using Foxy. Sure, I can do my best to help :)

Gotcha. I think again that would run into the limitation that Studio would need to be on the same network - which isn't the case if using Docker bridge for containers (but can connect to services on specific ports, e.g. start an ssh server).

[2021-08-13 18:29] bsoe-flexiv commented on #740
Would Eigen3 dependency be easier to deliver?

[2021-08-13 18:38] chapulina commented on #740
I believe Eigen is already a dependency of ROS 2 core, but I don't think it provides the functionality that's being requested here.

As a first approach, we'll create vendor packages for `ignition_cmake2` and `ignition_math6`, so that they're compiled from source on macOS and Windows. So if there's interest in using them here, they will be available soon.

We're discussing what's the best way to u

[2021-08-13 18:54] bsoe-flexiv commented on #740
I believe the math requires an eigen-decomposition of the inertia matrix, and a rotation matrix multiplication. This will be very simple to do with Eigen3.

[2021-08-13 19:13] bsoe-flexiv commented on #740
[code]

[2021-08-13 19:57] chapulina commented on #740
Simple is relative :wink: It's understandable if the maintainers want to maintain the logic in this repo in order to avoid a new dependency. Our suggestion was mainly because Ignition Math already provides this out of the box, with lots of error checking and unit tests.

[2021-08-14 06:09] wjwwood commented on #740
I'm fine with the dependency but it's up to the maintainers as it will be on them to deal with on going work related to this (either way they choose).

[2021-08-17 23:03] chapulina commented on #740
In case you're interested, there's now an `ignition_math6_vendor` package for Rolling that should be available on all platforms:

https://github.com/ignition-release/ignition_math6_vendor

[2021-08-18 12:52] doisyg opened #747 "Major performance issue when using a tf2_ros::MessageFilter without a timeout"
We found out that there is a major performance issue when using a tf2_ros::MessageFilter which arise when it has to deal with a TF extrapolation error.
One symptom is a high CPU usage and another one is the queue filling up and multiple message in the console:

There is probably an issue with the MessageFilter itself, reported here: https://github.com/ros2/geometry2/issues/366
However the issue di

[2021-08-25 08:44] Kettenhoax opened #752 "Point clouds are not cleared on time jump"
I'm using galactic with the released binary.

When displaying a point cloud topic during a time jump, for example when looping a ROS bag, subsequent point clouds stack until the original time point is reached again.
The decay time is disabled, i.e. only one cloud should be displayed.

![rviz_point_cloud_decay](https://user-images.githubusercontent.com/5438458/130756996-1d74e5e3-60ac-4a90-9b38-74d3

[2021-08-26 13:40] peredwardsson commented on #703
Any update on this topic? Crashing many times per day for me, typically when posting a goal position. Can fairly reliably generate crashes, happy to receive instructions if you need more information.

[2021-08-26 21:05] varunagrawal opened #753 "Error when running Rviz2"
I've been trying to run Rviz but keep getting the error below.

I've tried both reinstalling ROS2 (using Galactic), reinstalling my nvidia and cuda drivers, and have perused through a lot of forums for the last 2 days, so I am hoping one of you fine people can help me out. :slightly_smiling_face:

I am using Ubuntu 20.04 with ROS Galactic and Nvidia driver v470.
Output of `rviz2 -l`

[code]

[2021-08-27 08:14] peredwardsson commented on #703
Reliable crashes this morning. Happens just when the local costmap appears first. Frame below is when it crashes.

![rviz_crash](https://user-images.githubusercontent.com/15907557/131095478-41a4b04d-9409-4de0-a72f-fa09b612748f.png)

Full log and backtrace:
[code]

[2021-08-30 13:28] padhupradheep commented on #693
Problem still persists in Foxy, in galactic and rolling not!

[2021-09-01 02:54] jacobperron commented on #639
TBH, I'm not sure this was a conscious decision. It may be more of a bug. It makes sense to me to ignore the fixed from for the image display.

Other displays actually check if the transform exists before deciding to render anything, e.g.

https://github.com/ros2/rviz/blob/b30097c0918eb8e381d96a2178f39b8acdddf4f5/rviz_default_plugins/src/rviz_default_plugins/displays/odometry/odometry_display.cpp#

[2021-09-01 16:19] adamkrawczyk commented on #712
Hi,
I would like to take a look here. Where should I start?

Can you provide example files?

Best

[2021-09-01 20:52] adamkrawczyk opened #762 "build master fails rviz_rendering"
Hi,

ROS Foxy (binary install)

Build from source (master)

Ubuntu 20.04

AMD64

When I followed [build tutorial](https://github.com/ros2/rviz#building-rviz-together-with-ros-2) I run into some troubles.

First I removed rviz2 by `apt remove ros-foxy-rviz2` then:

`colcon build --merge-install`

[code]

Will try whether I can reproduce this error in docker container

[2021-09-02 12:40] clalancette commented on #762
Right, you are not going to be able to build the master branch against Foxy.  To build this repository, you either need to build `master` against Rolling, or you need to build the `foxy` branch against Foxy.

[2021-09-02 12:40] #762 closed

[2021-09-02 17:07] clalancette commented on #740
@jacobperron @mjeronimo for comments on making ignition a dependency of rviz.

[2021-09-03 01:04] BrettRD commented on #712
Anything exported from openscad should trip up rviz2
These two repos (one is a submodule of the other) will spool a `robot_description` for rviz2 to parse, (I've forgotten how I converted to binary previously)
https://github.com/BrettRD/dragon_claw
https://github.com/BrettRD/kinematics_scad

I didn't get around to trying this, but I was planning on seeing if
https://github.com/ros-visualization/rv

[2021-09-08 07:24] spurnvoj opened #763 "Missing MeshShape object"
Hi everyone, I am just trying to migrate our rviz plugins from ROS 1 to ROS 2. I found out that compared to ROS 1 the RVIZ in ROS 2 doesn't have [MeshShape Object](https://github.com/ros-visualization/rviz/blob/noetic-devel/src/rviz/ogre_helpers/mesh_shape.cpp). Is there any reason why this object hasn't been migrated yet?

[2021-09-15 11:47] padhupradheep opened #766 "RVIz2 crashing"
Distro: Rolling

**What am I doing?**
Trying to launch RViz2 from the terminal.

**What is the error?**
`[INFO] [1631706132.097429590] [rviz2]: Stereo is NOT SUPPORTED
[INFO] [1631706132.097503396] [rviz2]: OpenGl version: 4.6 (GLSL 4.6)
[INFO] [1631706132.119974609] [rviz2]: Stereo is NOT SUPPORTED
[ERROR] [1631706132.153348696] [rviz2]: PluginlibFactory: The plugin for class 'rviz_default_plugin

[2021-09-15 12:36] clalancette commented on #766
I can't seem to reproduce this problem locally; source `/opt/ros/rolling/setup.bash` and then running `rviz2` seems to work for me.  Running `dpkg -l | grep ros-rolling-rviz` shows me:

[code]

What OS are you using, and what version of RViz2 are you running?

[2021-09-15 12:51] padhupradheep commented on #766
Ubuntu 20.04 and I have installed everything as binaries and version is  8.7.0-1 ! The output of `dpkg -l | grep ros-rolling-rviz` is same as yours!

[2021-09-15 12:56] padhupradheep commented on #766
Oh okay, the problem is from my side. I think, I somehow override the default.rviz from other distro, which might have caused this issue. Once I deleted the default.rviz it works fine. But, I cannot give anyother suitable explanation on how this problem was caused.

[2021-09-15 12:56] #766 closed

[2021-09-16 17:57] wjwwood commented on #753
I thought this was this problem: https://github.com/ros2/rviz/issues/383, but it is actually a different issue. This is the problem line (I think):

I haven't seen that myself, so maybe we need to set a break point there and see why that string is being given a nullptr (apparently).

[2021-09-16 17:59] wjwwood commented on #753
Here is where that error is coming from, you could possible catch it there and backtrace on that exception to find its origin:

https://github.com/ros2/rviz/blob/fa6e12660ec0211e3789c8a19756a159c3c08c95/rviz_rendering/src/rviz_rendering/render_system.cpp#L582

[2021-09-16 19:51] gbalke commented on #351
It seems like this bug has resolved itself :thinking:

https://user-images.githubusercontent.com/11024792/133676803-df3ecc1a-6cbd-4e72-8eb0-096cde511288.mp4

[2021-09-21 14:48] ahcorde commented on #351
I tried to reproduce this on rolling and galactic and I couldn't replicate it.

@greimela-si feel free to reopen the issue and add more information if the issue persist.

[2021-09-21 14:48] #351 closed

[2021-09-21 20:42] flylinux commented on #678
set Qt5_DIR=C:\Qt\5.15.2\msvc2019_64

[2021-09-22 07:21] #669 closed

[2021-09-22 21:15] gbalke commented on #512
I'm a bit confused here so I'd like to clarify some terminology:

- Pitch: describes the bytes per row
- Stride: Bytes per pixel (BPP)
- Step: ["Full row length in bytes"](https://github.com/ros2/common_interfaces/blob/master/sensor_msgs/msg/Image.msg?plain=1#L25)

If pitch == step in this context, I don't see why an improperly defined image should still render in Ogre? The Image data should provi

[2021-09-22 21:28] gbalke commented on #672
@jasmeet0915 I found this discussion that appears to have a similar issue: https://github.com/openai/gym/issues/509#issuecomment-282331680

It seems most likely that you're missing this driver? I see that you've already tried some solutions online so please let me know if you've already tried this!

Also, are you running in headless mode? An example is docker without a display linked into the envi

[2021-09-22 22:36] gbalke commented on #458
Hi @MengNan-Li, I noticed the error had an error related to storing a negative value as a time. Can I ask for a sample image/camera_info pair that you attempted to send that causes this error?

I wasn't able to create the issue until I set the `header.stamp.sec` to -1:

[code]

[code]

This shouldn't crash RViz so I'll be making a fix for the time-related error but I don't believe there's anything

[2021-09-23 12:48] simulacrus opened #773 "Decreased performance in ros2-foxy versus ros2-dashing"
Hardware:
1. OS - ubuntu 20.04 / ubuntu 18.04
2. CPU - cpu intel core i7
3. GPU - Nvidia geforce gtx 250 (+proprietary driver)

Tests were carried out with the display of a large point cloud in version ros2-dashing (ubuntu 18) and version ros2-foxy (ubuntu 20). Statistics were collected on the duration of the renderOneFrame () function (file rviz2 / rviz_common / src / rviz_common / visualization_

[2021-09-23 16:37] clalancette commented on #763
Just lack of time, I would guess.  If you'd like to contribute it, we'd be happy to review.

[2021-09-24 22:08] gbalke commented on #693
If someone could provide a quick demo of the bug, I have some time to dive in and find a fix. It'll take some more time to create a demo for myself.

[2021-09-28 18:23] jacobperron commented on #740
I believe this can be closed, since #751 has been merged.

@ahcorde If I'm mistaken and there's more to be done, we can reopen this ticket.

[2021-09-28 18:23] #740 closed

[2021-09-30 18:48] jacobperron opened #776 "Noisy console output when clicking on render panel"
If you start RViz and click in the small space between the 3D render panel and the left panel divider, then we can see a bunch of print statements happening in the console, e.g.:

[code]

It'd be nice to remove these noisy prints.

[2021-09-30 18:52] jacobperron commented on #776
Here's an example of where you can click to reproduce the issue:

![rviz_repro](https://user-images.githubusercontent.com/1218431/135513867-5eef01d6-6833-4e41-bf5d-555470919534.png)

[2021-10-01 07:55] ahcorde commented on #776
https://github.com/ros2/rviz/pull/777

[2021-10-04 16:56] #776 closed

[2021-10-05 15:54] helenol commented on #639
+1 to this topic, blocking development for me and a huge regression from rviz1. Why would I need my whole TF tree to be resolved correctly to see 2D images?

[2021-10-05 15:59] helenol commented on #639
It appears to be because of the TF filter on incoming image messages? https://github.com/ros2/rviz/blob/ros2/rviz_default_plugins/include/rviz_default_plugins/displays/image/image_transport_display.hpp#L117-L140 So this is explicitly added? Why?

[2021-10-05 18:05] jacobperron commented on #639
@helenol Good find! In the ROS 1 implementation, the display's base class provides a method for opting into the TF filter:

https://github.com/ros-visualization/rviz/blob/a4919f52fb37da074fcea1648e257691037a3feb/src/rviz/image/image_display_base.h#L89-L94

https://github.com/ros-visualization/rviz/blob/a4919f52fb37da074fcea1648e257691037a3feb/src/rviz/image/image_display_base.cpp#L182-L193

The Im

[2021-10-07 23:14] gbalke commented on #773
I'm trying to debug this. Do you have a share-able bag file?

[2021-10-08 00:05] gbalke commented on #752
Heya! I just got around to this and reproduced the issue locally with sim time:

[code]

To note for later: The "Detected jump back in time" that's implemented in Rolling isn't in Foxy. Foxy never clears the TF buffer.

[code]

My confusion is that, before the first TF buffer clear, the system operates as expected. Also hitting the "Reset" button seems to fix this state. It may be more reasonable

[2021-10-08 00:13] gbalke commented on #747
If I understand correctly, MessageFilter is essentially getting backed up due to spam of invalid messages? You are interested in clearing the messages that aren't posted after a given timeout?

[2021-10-08 19:29] gbalke commented on #670
@pijaro I am not noticing a performance hit as per your instructions though this line is vague:

I did notice a performance hit if I select an enormous amount of points (likely greater than 100k points). Is this what you meant?

[2021-10-08 19:31] tomcat327 opened #782 "PointCloud2 and Other Topics no longer Display in RVIZ after upgrade from FOXY Release 5 to FOXY Release 6"
Today, I "apt upgraded" to FOXY Patch Release 6, which came out on Oct. 7, 2021. Previously, I had been on FOXY Patch Release 5, which came out on Sept. 9, 2021. See this link for patch release details: https://github.com/ros2/ros2/releases.

For over a year, I have been using an rviz configuration file ([ouster_live.zip](https://github.com/ros2/rviz/files/7313693/ouster_live.zip)) with RVIZ2 to w

[2021-10-08 20:48] gbalke commented on #782
Verified. I'll start taking a look. @jacobperron any guesses?

[2021-10-08 20:51] jacobperron commented on #782
@gbalke I would start by doing a bisect between 8.2.3 and 8.2.4 to find an offending commit: https://github.com/ros2/rviz/commits/foxy

[2021-10-08 21:14] gbalke commented on #782
#772 still displays point clouds.
[code]

#765 does not :cry:
[code]

[2021-10-08 21:26] gbalke commented on #782
@tomcat327 fix is on the way :smiley:

[2021-10-08 21:54] tomcat327 commented on #782
Thank you for the fast response @gbalke!

[2021-10-08 22:08] gbalke commented on #782
Root caused the problem... Pretty interesting tbh :thinking:
https://github.com/ros2/rviz/pull/783#issuecomment-939139321

[2021-10-09 10:31] kallaspriit commented on #782
Can also confirm this, pulling out my hair why stuff broke that was working yesterday without changing anything :)

How could one revert to the previous version while this gets fixed? I'm using `ros-foxy-rviz2` package on Ubuntu 20.04.

[code]

Tried listing old versions but it shows none, doing it wrong?
[code]

Tried cloning tag `8.2.3` into my workspace and `colcon build` it but the build fails

[2021-10-10 07:24] chenwh14 commented on #782
I'm also a victim of this version update.
Thank you very much for pulling me out of meaningless attempts....

[2021-10-10 08:37] fantauzzi commented on #782
I think I am having the same issue in Rviz2 with /scan and /map since the update to patch release 6: Rviz2 doesn't show the LaserScan from a Turtblebot 3 (real or simulated in Gazebo), nor the map being built by cartographer.

[UPDATE] After uninstalling and reinstalling Foxy (via Debian packages) multiple times, eventually Rviz2 resumed receiving /scan and /map and displaying the map being built

[2021-10-10 08:58] aprotyas commented on #782
You can uninstall the Debian packages using `sudo apt remove ~nros-foxy-* && sudo apt autoremove`, and then install previous release binary packages from https://github.com/ros2/ros2/releases. ([Installation instruction for reference](https://docs.ros.org/en/foxy/Installation/Ubuntu-Install-Binary.html))

[2021-10-10 20:39] doisyg commented on #747
Precisely

[2021-10-11 05:00] yonhdee commented on #782
victim+1, thank you for fast response

[2021-10-11 08:25] Paul-Ajay commented on #782
Any temporary solution available? until the release of binaries with fix?

[2021-10-11 12:56] simulacrus commented on #773
https://github.com/simulacrus/map/blob/main/testMap.tar.xz

[2021-10-11 15:10] el-stinjo commented on #782
Also ran into this issue, downgrading the entire foxy as proposed by @aprotyas works for me! (although is somewhat time consuming)

[2021-10-11 17:43] gbalke commented on #747
I think it's hard to define a timeout for this sort of thing given the various rates of publishing. In my mind, you'd want a pretty short timeout for a high publish rate message and a pretty low timeout for low publishing rates. I'm not intimately familiar with how this works so it'll probably take me some time to read up to the point I am comfortable giving a recommendation.

I would think the be

[2021-10-11 18:05] gbalke commented on #782
Revert merged on the problematic code. Actually getting this into a release will take some time given the length of the process so please use the solution posted by @aprotyas or build rviz from source as an overlay until that comes in. I'll be leaving this issue open for visibility.

https://github.com/ros2/rviz/issues/782#issuecomment-939434331

[2021-10-12 05:42] doisyg commented on #747
Well a long timeout to start with would be better than nothing I believe (i.e. infinite)

[2021-10-12 10:11] mnissov opened #784 "Problems building rviz from source [foxy]"
With recent problems concerning rviz and showing pointclouds, [782](https://github.com/ros2/rviz/issues/782), I am attempting to build the updated version of rviz while waiting for an official release.

I build rviz by according to the `README.md` by
[code]
and most packages are able to build, except for `rviz_default_plugins`. The error code is the following
[code]
**EDIT:** Using ubuntu 20.04 LT

[2021-10-12 14:26] gavanderhoorn commented on #782
this seems like a serious enough regression to warrant an out-of-band patch release?

[2021-10-12 16:57] gbalke commented on #782
This is the intended form of release (ASAP).

[2021-10-12 16:59] gavanderhoorn commented on #782
Great to hear.

I'm actually quoting you in https://github.com/ros2/rviz/issues/782#issuecomment-941063747, so your last comment confuses me ;)

[2021-10-12 17:01] gbalke commented on #782
I was referring to the time it takes to build a full release and get that process rolling. I understand your confusion though, I should've been more specific.

[2021-10-12 17:01] ros-discourse commented on #782
This issue has been mentioned on **ROS Discourse**. There might be relevant details there:

https://discourse.ros.org/t/preparing-for-foxy-sync-and-patch-release-2021-10-13/22664/1

[2021-10-12 18:40] jacobperron commented on #784
I'm pretty sure this build error is in part due to the revert done here, which removes API: https://github.com/ros2/rviz/pull/783

I would have still expected the build to work, however I think there is an issue with the linker ordering. It seems that the version of `rviz_default_plugins` in the workspace is trying to link against the version on the system. Can you try removing the installed versi

[2021-10-12 18:46] jacobperron commented on #784
I don't know if it will fix this issue, but it's probably worth backporting https://github.com/ros2/rviz/pull/727 to Foxy as it resolves a similar linking issue.

[2021-10-13 00:32] gbalke commented on #773
Since this is a bit of a long debug, I thought I should document my steps in case someone else wants to take a look (and for reference in future debugs).

I've used [uftrace](https://github.com/namhyung/uftrace) to follow all calls to `rviz_rendering::PointCloud*` using the following commands:

[code]

While the recorder is running, I run some replay from the bag. I found that rviz doesn't seem to

[2021-10-13 09:48] Enri2077 commented on #784
It works!
Initially I tried to build rviz2 from source to work around https://github.com/ros2/rviz/issues/782 and got the same build error as @mnissov.
I uninstalled all rviz packages `sudo apt remove ros-foxy-rviz*`, cloned the foxy branch in my workspace and now it builds and works as expected.
I can visualize maps and laser scans. I don't have any pointclouds at hand, but I assume those would b

[2021-10-13 21:13] ros-discourse commented on #782
This issue has been mentioned on **ROS Discourse**. There might be relevant details there:

https://discourse.ros.org/t/new-packages-and-patch-release-for-foxy-fitzroy-2021-10-13/22678/1

[2021-10-13 21:23] jacobperron commented on #782
A new sync and patch release have been made with #783. Let me know if there you run into any issues.

https://discourse.ros.org/t/new-packages-and-patch-release-for-foxy-fitzroy-2021-10-13/22678

[2021-10-13 21:23] #782 closed

[2021-10-13 21:51] gbalke commented on #773
I managed to reduce this time in half by moving the `getBuffer()` out of the assert and previous to the for loop. This, however, does not particularly improve the scenario as this is a different path from what we expect when running in release mode (assert is not run in release). If I change my build to:
[code]
The execution of AddPoints drops down to 5ms for a 2000 point point cloud (not accounti

[2021-10-14 20:05] gbalke commented on #773
After comparing the results of Dashing and Foxy for point cloud addition, I can say they are approximately the same if not faster for Foxy. This leads me to believe that either the build is not in release mode or something else is causing the slowdown. I'll see which other pipelines may be having issues (though this already puts the frame rate below 10fps so I'm pretty confident this is a/the sign

[2021-10-14 22:10] gbalke commented on #458
I'm closing this as could not reproduce and haven't had a response for some time. If this comes up again please re-open.

[2021-10-14 22:13] gbalke commented on #672
@jasmeet0915 I'm going to close this issue given the length of time since my response and what appears to be a matching solved issue. Please re-open if the problem persists.

[2021-10-14 22:18] gbalke commented on #747
Where would this value be updated? A value of infinity preserves current behavior, correct?

[2021-10-15 06:24] jcaraban commented on #773
@gbalke I believe the rviz2 foxy releases are not compiled with optimizations...
I cloned and compiled the foxy branch with optimizations, and it runs 2~3x faster in my use case and machine.

note: my use case has no point clouds, just a few thousand different markers

[2021-10-15 06:27] gbalke commented on #773
Which optimizations? -O flags or the release flag?

[2021-10-15 06:45] jcaraban commented on #773
I guess by _release flag_ you mean `-DCMAKE_BUILD_TYPE=Release` ? My understanding is that cmake will use `-O3` for the Release build type. However, by default colcon doesn't seem to set any cmake build type, which ends up `-O0`

When looking at the assembly of `/opt/ros/foxy/bin/rviz2` vs my compiled rviz2 binary, the latter weights 31K and has a few SSE instructions, while the former is 23K with

[2021-10-15 12:49] clalancette commented on #773
Just to be clear; when we are building the binaries for release on the buildfarm, `colcon` isn't involved at all.  We directly invoke CMake (well, we invoke it through the debian build helper scripts).  You can see it in action in e.g. https://build.ros2.org/job/Fbin_uF64__rviz_common__ubuntu_focal_amd64__binary/106/consoleFull .

I haven't looked in detail into what is happening in those builds.

[2021-10-15 13:00] simulacrus commented on #773
So...I try to turn off Selectable option on pointcloud2 plugin and ... it work. Stable 60+ fps. Why is that?
P.S.
For more computationally expensive test try to increase size(pixels) option value

[2021-10-15 18:17] gbalke commented on #773
#670 claims issue with selecting on large point clouds. This seems to support that claim. I'll take a closer look at that pipeline! Maybe they're the same issue :monocle_face:

[2021-10-15 18:36] jacobperron commented on #747
IIUC, the correct thing to do would be to resolve https://github.com/ros2/geometry2/issues/366, however I'm open to adding a timeout to the message filter here as a workaround. Maybe the timeout could be linked to the buffer cache time being proposed in https://github.com/ros2/rviz/pull/780?

[2021-10-15 18:47] jacobperron commented on #752
Is this an issue with the point cloud display specifically, or does it affect other displays?

[2021-10-15 19:29] gbalke commented on #752
I just tested this with the `LaserScan` message and am observing identical results. This appears to affect multiple displays so it may be assumed that this is an issue with how displays generally handle negative time jumps. I think a reset may be reasonable in this scenario.

Here's @Kettenhoax's code with my modifications:
[with_laserscan.zip](https://github.com/ros2/rviz/files/7355603/with_laser

[2021-10-18 09:53] mnissov commented on #784
Looks like it works for pointclouds as well, at least for me it does. Therefore closing

[2021-10-18 09:53] #784 closed, assigned to jacobperron

[2021-10-18 18:44] gbalke commented on #773
When I selected a large region of the point cloud (about 1/8 of a 100k point cloud), there was a large delay and then update time took an additional 40ms:

[code]

__NOTE:__ The `onUpdate`/`qt_static_metacall` call stack leads down to `addPoints` (through a bunch of layers of function calls).
[code]

[2021-10-18 18:54] gbalke commented on #773
I disabled selectable and am still getting 0-1 fps:
![image](https://user-images.githubusercontent.com/11024792/137789960-23d5bb70-37f9-4b1f-8a72-487034124126.png)
 I have no idea what's going on here... Are you somehow selecting points without realizing it?

[2021-10-18 19:50] simulacrus commented on #773
Nope. Try to select Style Point and turn off autocompute option.

[2021-10-18 19:53] gbalke commented on #773
@simulacrus I was able to reproduce "performance gains" by having a large region selected when I turned off "selectable". This auto-deselects all regions that were selected. I think you might be selecting large regions which causes this performance hit. See this video.

At the start of the video, I begin publishing your bag on loop as fast as it will publish. This causes RViz to perform very poorl

[2021-10-18 19:55] gbalke commented on #773
Same results with the following configuration:
![image](https://user-images.githubusercontent.com/11024792/137797895-958d7afc-d366-4bbd-8166-57a8724600c6.png)

[2021-10-19 06:14] LMerCy commented on #511
The frame_id is a string "camera_id" in foxy version  of image_tools https://github.com/ros2/demos/blob/foxy/image_tools/src/cam2image.cpp#L244 , but the image still cannot be displayed by rivz2, dou you have any solution @Martin-Idel ?

The problem can reproduced by https://github.com/ros2/demos/issues/535 .

[2021-10-19 18:55] gbalke commented on #752
@Kettenhoax if you still want to implement a fix, I think the best approach to ensure this captures all displays is to execute the same call as the `reset` button on detecting a time reset. Do you think that will work for you/can you think of an issue with why that wouldn't work for your use case?

[2021-10-20 13:51] prachandabhanu opened #786 "rviz dockable panel plugin"
I am trying implement rviz2 plugin in ROS2. I have referred [user guide][1] from the rviz for the development. Currently there no tutorial available to develop rviz dockable panel in ROS2. Therefore I have referred [MoveIt2][2] and [Navigation 2][3] package for their rviz plugin implementation in ROS2. Here is my code.

`demo_widget.h`:
[code]
`demo_widget.cpp`:
[code]

`demo_panel.h`:
[code]

`de

[2021-10-22 07:51] Kettenhoax commented on #752
Thanks for verifying with LaserScan!

I can't think of issues with the global reset approach off the top of my head. I'll look into it and provide a PR soon.

[2021-10-26 21:26] Kaiser-Wang opened #787 "rviz2 crashes randomly when running Navigation2"
rviz2 crashes randomly when I'm running Navigation2. The error message is as follows:

` [rviz2-10] [ERROR] [1635234443.248890800] [rviz2]: InternalErrorException: Cannot create GL vertex buffer in GLHardwareVertexBuffer::GLHardwareVertexBuffer at /tmp/binarydeb/ros-foxy-rviz-ogre-vendor-8.2.2/obj-x86_64-linux-gnu/ogre-v1.12.1-prefix/src/ogre-v1.12.1/RenderSystems/GL/src/OgreGLHardwareVertexBuffer

[2021-10-28 03:00] jacobperron commented on #639
After a discussion with @wjwwood, I think removing the TF filter from ImageTransportDisplay is a good solution. Since it's only the CameraDisplay that cares about TF information, we can move the TF filter there. See https://github.com/ros2/rviz/pull/788

[2021-11-01 20:52] ros-discourse commented on #703
This issue has been mentioned on **ROS Discourse**. There might be relevant details there:

https://discourse.ros.org/t/ros-2-tsc-meeting-minutes-2021-10-28/22947/1

[2021-11-02 13:38] frapit opened #790 "major performance issues marker cube_list"
I decided to crosspost this from [https://answers.ros.org/question/389501/rviz2-performance-issues-with-cube_list-marker/](https://answers.ros.org/question/389501/rviz2-performance-issues-with-cube_list-marker/) as I did some more debugging in the meantime and at this point I think it is more of a bug report than the result of bad programming.

In foxy (and dashing, just to sort out #773) I encoun

[2021-11-02 13:50] Phanx1 commented on #787
I think I am having this same issue.
My setup is Ubuntu 20.04 on parallels on an M1 mac, but the same issue was seen on native Ubuntu 20.04, Running ROS2 foxy

I am running navigation2 on a differential drive robot. When I start using EKFs instead of differential drive for the transforms I get a similar crash message as shown bellow

`rviz2-8] [ERROR] [1635859560.961004556] [rviz2]: Vertex Program

[2021-11-03 17:40] jacobperron opened #793 "ROS callbacks not processed if Qt dialog is open"
To reproduce, visualize some data in Rviz (e.g. camera images, laser scans, etc) and then open the "add new display" dialog (Ctrl+N). You should notice that the displays stop updating. You should also notice that time stops updating in RViz.

This does not only affect displays, but also other ROS communication, for instance trying to set ROS parameters on RViz while a dialog is open causes the set

[2021-11-03 20:56] stephanie-eng opened #794 "Rviz crash when window is resized too small to fit the panels"
Rviz crashes when the window is resized to less than the width of the two side panels and clicking around a bit. This occured on Ubuntu 20.04 with Foxy.

[code]

[2021-11-04 14:31] ivanpauno commented on #793
The cause of the issue is:

https://github.com/ros2/rviz/blob/0423b7bc144cab73022974c9a02b0c06dfed0fab/rviz_common/src/rviz_common/visualization_manager.cpp#L390
https://github.com/ros2/rviz/blob/0423b7bc144cab73022974c9a02b0c06dfed0fab/rviz_common/src/rviz_common/displays_panel.cpp#L134

I think that we don't need to stop updating when opening the dialog, but only after it's accepted.
I'm going t

[2021-11-04 19:49] gbalke commented on #773
@simulacrus I'm going to close this issue as a duplicate of #670. If you have additional information to add, please feel free to respond and the issue can be re-opened.

[2021-11-04 19:49] #773 closed

[2021-11-07 23:46] AndyZe opened #796 "After `sudo apt upgrade`, several rviz_default_plugins fail to load"
On ROS2 Rolling, I just did `sudo apt update/upgrade`. Now I get these messages when launching rviz2:

[2021-11-07 23:51] AndyZe commented on #796
`apt-cache policy ros-rolling-rviz-default-plugins` shows:

[code]

`apt-cache policy ros-rolling-rviz2` shows:

[code]

[2021-11-08 01:36] clalancette commented on #796
I can't reproduce this here; rviz2 launches fine for me.  What version of `ros-rolling-tf2-ros` do you have?  I have `0.19.0-1focal.20211101.215611`.

[2021-11-08 01:42] AndyZe commented on #796
I have the same version

[2021-11-08 01:44] AndyZe commented on #796
Ah, it works fine if I don't source my workspace but simply source `/opt/ros/rolling/setup.bash`. OK, I guess it's a problem with my workspace, then.

[2021-11-08 01:44] #796 closed

[2021-11-08 18:04] carlospzlz commented on #730
Hi @jacobperron, I can't reproduce this issue anymore, feel free to close it :)

[2021-11-08 18:04] #730 closed

[2021-11-08 19:09] crabiner opened #797 "Plugin use_sim_time has no effect"
I have set "use_sim_time" to true on my custom panel for rviz but the clock is still machine clock and not simulated time
I have tried setting the flag on runtime as well, and in callback loop I always see machine clock

see snippet below
[code]

[2021-11-08 21:47] AndyZe commented on #796
This seemed to fix it for me. I don't understand why. Probably related to `tf2_msgs` message versions since that was mentioned in the error printout.

[code]

followed by `rosdep install -r --from-paths . --ignore-src --rosdistro $ROS_DISTRO -y`

[2021-11-10 14:48] roncapat opened #798 "Add binary threshold option to "map" display"
I'd like to know whether there is interest for an eventual PR (not yet developed) implementing the following:

in the 'map' display:
- add a checkbox enabling/disabling binary map representation;
- add a numeric input filed for specifying a numeric threshold
- if the control box is checked, every cell with cost less than the threshold is colored as selected palette(0), while the other cells are co

[2021-11-10 16:29] bergercookie opened #799 "Various rviz2 segfaults during live navigation2 runs"
I 'm using rviz2 to visualise the navigation2 process for an actual (non-simulation) robot.
There are many occasions where rviz2 crashes out of the blue. I believe most of these crashes relate to the visualisation of the local costmap of nav2 since I have not seen rviz2 crash when the local costmap viz group is disabled (see attached picture for the said viualisation group)

I'm using ROS2 Foxy, a

[2021-11-10 16:37] bergercookie commented on #799
Probably similar  to #703 .

[2021-11-10 18:35] rostest commented on #588
rviz2 works fine after installing ros2 on Windows 10 following https://ms-iot.github.io/ROSOnWindows/GettingStarted/SetupRos2.html:

Install chocolatey, run cmd as admin and enter
[code]
Problem solved. Nice package!

[2021-11-10 18:35] #588 closed

[2021-11-11 14:11] clalancette commented on #786
This kind of question is best asked at https://answers.ros.org, which is our central question-and-answer place.  You should get more response there, and any solutions will be searchable in the future.  Since this currently hasn't been identified as a bug in rviz2, I'm going to close this out.

[2021-11-11 14:11] #786 closed

[2021-11-19 14:06] #793 closed

[2021-11-22 22:12] ros-discourse commented on #703
This issue has been mentioned on **ROS Discourse**. There might be relevant details there:

https://discourse.ros.org/t/ros-2-tsc-meeting-minutes-2021-11-18/23209/1

[2021-11-23 00:05] paulerikf commented on #616
Quick note: I have vague memories of seeing a similar issue and needing to explicitly set `marker.pose.orientation.w = 1.0`

Seems like the Quaternion message has no default values in [Dashing](https://github.com/ros2/common_interfaces/blob/30dbc60b45e22f2c88a4c46493388fdad3916845/geometry_msgs/msg/Quaternion.msg#L6), whereas it does since [Eloquent](https://github.com/ros2/common_interfaces/blob/

[2021-11-23 05:47] jacobperron commented on #616
@paulerikf ah, that could have something to do with it.

However, since Dashing is EOL (and this isn't an issue in currently supported versions) I'm going to close this ticket.

[2021-11-23 05:47] #616 closed

[2021-11-27 10:44] chenjunnn opened #804 "STL meshes can't be rendered using WSL2 ROS Galactic Rviz2"
`rviz2` does not have any error outputs.
![image](https://user-images.githubusercontent.com/57067221/143677854-d556e9a4-e3d3-476e-b063-3985f9b02a87.png)

can't see robot model(stl file) in rviz2, the one can be seen is the collision box:
![image](https://user-images.githubusercontent.com/57067221/143677906-7702375c-67f4-4cd9-9691-c586d2eac64a.png)

when using real ubuntu 20.04 in NUC, it can be sh

[2021-11-29 08:46] iuhilnehc-ynos commented on #804
There is `a robot model` in the pic.
![image](https://user-images.githubusercontent.com/64191023/143835058-9607bf42-9817-49ee-af75-6a33500ddb9b.png)

but I know that it might be not what you want, could you check your robot model description file?  (or you can upload it if someone wants to help.)

[2021-11-29 08:54] chenjunnn commented on #804
@iuhilnehc-ynos This is the collision, not the visual mesh model. Sorry that I forgot to update the expected behavior. And I am quite sure that it is not the urdf problem.

[2021-11-29 16:14] iuhilnehc-ynos commented on #804
@sink0918

I'm not familiar with WSL2. After installing it (Ubuntu20, WSL2, galactic), I [tried to( use `native opengl` also)](https://github.com/microsoft/WSL/issues/4106#issuecomment-876470388) use `rviz2` to show [a demo model](https://docs.ros.org/en/galactic/Tutorials/URDF/Building-a-Visual-Robot-Model-with-URDF-from-Scratch.html) (without using stl), and it seems to work fine.

![image](http

[2021-11-30 11:20] chenjunnn commented on #804
Basic shapes work fine:
![image](https://user-images.githubusercontent.com/57067221/144037457-291d1ddd-c35d-46f4-9785-5f7f51d6b4d5.png)

The problem seems to be meshes using `stl` or `dae` can not be rendered in rviz2 using WSL2.

By the way, I'm using `WSLg` to use `rviz2`, not `X11-forwarding`.

And I also tried [realsense-description](https://github.com/IntelRealSense/realsense-ros/tree/ros2/re

[2021-11-30 13:09] iuhilnehc-ynos commented on #804
@sink0918

Thank you for your information, but I'm sorry that I can't reproduce it. (I use windows10 so that I can't use WSLg.)

![image](https://user-images.githubusercontent.com/64191023/144053057-51e4e0bd-cae5-4b7f-a4e9-80d312294815.png)

![image](https://user-images.githubusercontent.com/64191023/144053481-fb94f2bc-b34b-40a4-9286-25557cdf8d54.png)

[2021-12-01 10:10] chenjunnn commented on #804
![image](https://user-images.githubusercontent.com/57067221/144214410-75e1fcee-e2e7-4979-a577-1681fd6adbbb.png)

I have tested it using X11-forwarding, but the mesh still can't be rendered😢

Here is some infos of my WSL2:
- Windows Build Number
Microsoft Windows [版本 10.0.22000.194]

- WSL Version
 WSL 2

- Kernel Version
 5.10.16

[2021-12-01 10:22] chenjunnn commented on #804
I have also reported this issue to microsoft/WSL, here is the link: https://github.com/microsoft/WSL/issues/7788

[2021-12-02 20:53] SteveMacenski opened #805 "[Rolling] LaserScan and PointCloud2 visualization cases repeated errors and does not show in display with most (but not all) geometries"
Hi,

Recently (e.g. maybe the last 2-6 weeks) an update to Rolling binaries caused error messages to flood the terminal when working with laser scans (see below). No matter the material I request for the `LaserScan` type (flat squares, spheres, boxes, etc) I get this same error message and no laser returns are displayed in the rviz window.

I assumed some materials changed names / namespaces, so I

[2021-12-15 13:58] frankkusters commented on #511
I've struggled with this as well. @Martin-Idel's comment provided the clues:

You need a transformation from the fixed frame (which is called `map` by default in RViz) to the message frame. To find the message frame id from `/image_raw`:

    ros2 topic echo /image_raw --no-arr

You'll see something like this:

    header:
      stamp:
        sec: 1639564328
        nanosec: 59671685
      frame_

[2021-12-16 06:08] SteveMacenski commented on #805
I have found that the following laser scan styles do not work in visualization:
- flat square
- spheres
- boxes
- squares

The following do work:
- Tiles
- Points

However they all result in the same styled warnings: `No techniques available for material [PointCloudMaterial449Sphere]`

[2021-12-16 20:02] SteveMacenski commented on #805
When done without Nav2 (e.g. I just run Nav2 in another terminal just to launch the robot + simulation to get sensor data to visualize), I launch `rviz2` in a clean terminal with no configuration file and add only a display for LaserScan and change the QoS to Best Effort for the sensor, I see the same results **but also** causes the screen to hang and a seg fault

[code]

I can also replicate this

[2021-12-16 20:37] SteveMacenski commented on #805
Suspiciously, the 2 that happen to work appear in the `scripts` directory loaded in `setupResources` https://github.com/ros2/rviz/blob/ros2/rviz_rendering/src/rviz_rendering/render_system.cpp#L353-L399 where the other materials I noted a couple of comments above that are not loading at all are in the `scripts120` and `scripts150` directories that are loaded in line with `getGlslVersion()`. Rviz sh

[2021-12-17 07:46] NebuDa opened #808 "Parameters have invalid type: is of type {double}, setting it to {string} is not allowed"
I have built ROS2 Galactic, Moveit2 and Main Branch of UR Driver https://github.com/UniversalRobots/Universal_Robots_ROS2_Driver on Ubuntu. By starting like the tutorial from driver with MoveIt I got the following error on different parameters:
[code]
It comes from a yaml File like this:
[code]
And loaded in a Launch File:
[code]
Is there anything wrong with the Launch File, Ubuntu or ROS2 configu

[2021-12-17 13:10] clalancette commented on #808
The problem is in your parameters, here:

[code]

That is definitely a string, and it looks like MoveIt is declaring that as a double.  With Galactic and later, that won't work; we automatically check the types now.  My guess is that MoveIt changed between Foxy and Galactic, and something else in your configuration has to change.

Given that this is almost certainly not a problem in rviz2, I'm goi

[2021-12-21 23:50] dpiet commented on #804
I can confirm experiencing this issue as well.

[2021-12-22 09:39] iuhilnehc-ynos commented on #703
I agree with what @clalancette analyzed about the root cause for the issue.
I'd like to share something about my thought. If MessageFilter is destroyed, I think we can do
- to clear all relative callbacks in the `transformable_callbacks_` of BufferCore. (easy to cause a deadlock inside.)
- to use a mechanism to call the callback `transformReadyCallback` but ignore doing the real thing that accessi

[2021-12-22 18:58] clalancette commented on #703
@iuhilnehc-ynos Thanks so much for taking a look at this!

To test your code, I first recompiled all of the ROS 2 core from source, and navigation2 from source.  With that configuration (and the reproducer provided in the first comment), I was able to reproduce the error.

I then applied your code to geometry2 and to navigation2 (I wasn't using slam_toolbox, so I didn't test that code).  I then re

[2021-12-23 05:00] iuhilnehc-ynos commented on #703
@clalancette

Thank you for your confirmation. Before opening PRs, I need to try to figure out the first method which seems ideal.
(The `geometry2` implementation in [ROS2](https://github.com/ros2/geometry2.git) is a little different from [ROS1](https://github.com/ros/geometry2.git))

[2021-12-23 07:32] iuhilnehc-ynos commented on #703
I have done the first method. Even if it seems to work well, I need to check it more.
The basic idea is as follows,

- update `TransformStampedFuture`

NOTE: not to use `std::pair<TransformStampedFuture, tf2::TransformableRequestHandle>`

from
[code]
to
[code]

- add a new interface in `AsyncBufferInterface`

[code]

[2021-12-23 09:44] iuhilnehc-ynos commented on #703
@clalancette

Could you help review these two PRs above?

[2021-12-23 10:37] andreasBihlmaier opened #810 "ItemIdentityException: Can not find codec for 'tif' image format."
On a clean apt package install of galactic on Ubuntu 20.04.3, it seems that Ogre has been compiled without TIF support:

[code]

This error shows up when trying to run the official URDF tutorial: http://docs.ros.org/en/galactic/Tutorials/URDF/Building-a-Visual-Robot-Model-with-URDF-from-Scratch.html#finishing-the-model due to the finger meshes.
Specifically when running
[code]

urdf_tutorial is a

[2021-12-24 09:37] ZhenshengLee opened #812 "[Performance] rviz2 display robot model slow."
When I display robot model with realsense2 description using rviz2 foxy.
It consumes about 5-8 seconds.

Is it a bug or did I miss something?

[2021-12-26 13:57] andreasBihlmaier commented on #639
+1 on changing this behavior back to ROS1 behavior: Show images no matter what is available in TF.

At the very least, do not show "(checkmark-symbol) Status: OK", when it should be "(error-symbol) Status: Missing TF _<tf-frame-in-image>_ transform".

[2022-01-04 09:13] wodtko opened #815 "[BUG] missing dependency export in rviz_default_plugins"
rviz_default_plugins does not export image_transport as a dependency, thus, when linking against this package, the dependency cannot be resolved correctly.
(see PR https://github.com/ros2/rviz/pull/814)

[2022-01-05 07:16] #815 closed

[2022-01-06 06:18] iuhilnehc-ynos opened #816 "rviz2 crashed when handleSchemeNotFound on SelectionRenderer"
Got the following backtrace of another segment fault when running `ros2 launch sam_bot_description display.launch.py`( add the /scan(LaserSacn) display with default style(Flat Squares), and then use mouse wheel to scale up immediately)

<details><summary> backtrace </summary>
<p>

[code]

</p>
</details>

The frame 7 calling [pTech = defaultMat->getBestTechnique();](https://github.com/OGRECave/ogr

[2022-01-06 06:31] iuhilnehc-ynos commented on #816
I think I should update the patch from `return nullptr` to `return orig_tech`. I'd like to hear some suggestions to deal with it.

[2022-01-07 23:13] clalancette commented on #810
I took a bit of a look at what was going on here today.

First of all, I was able to reproduce the problem very easily, even on Rolling and even building from source.  As the error message says, the problem is that `tif` (or `tiff`) files aren't currently supported by `rviz_ogre_vendor`.  The obvious workaround is to change the `tif` files in `urdf_tutorial` to another file format that we *can* su

[2022-01-13 20:55] #639 closed

[2022-01-20 15:53] sinamr opened #819 "can't turn off the verbose or change the logging level."
Hey,

I am trying to run rviz without any verbose or logging but so far any solution I could find results in a failure. For example the following is not working:

[code]
as it prints tons of warnings (which I legit, but I don't want to have the console being spammed); as an example :
[code]

Any suggestion ?

[2022-01-24 13:01] relffok opened #820 "rviz crashes when leaving fixed frame blank"
Not a major issue, but if the fixed frame is to be changed and accidentally left blank, rviz terminates immediately if TF is visualized and throwing the error:

[code]

To reproduce:

`rviz2 `

* add TF visualization
* change fixed frame from **map** to blank

[2022-01-24 13:50] clalancette commented on #820
Can you give more information about your environment, and how to reproduce this?  I just tried it out locally with Rolling, Galactic, and Foxy, and I couldn't make it crash on any of those.

[2022-01-24 14:54] relffok commented on #820
Sure, I'm on Ubuntu 20.04, galactic debian pkgs and rviz is on 8.5.0 (tf2 on 0.17.02 if this is of use)
I was also able to reproduce this on foxy rviz version 8.2.5 (tf2 on 0.13.12)

The steps to reproduce are already mentioned in the initial issue. Any more information needed?

[2022-01-26 18:51] ravnicas commented on #804
+1 here, tried on Win11 with iGPU and also nVidia GPU systems.

[2022-02-02 23:45] SteveMacenski commented on #805
~Last rolling update fixed~ Whoops my bad

[2022-02-03 15:31] clalancette commented on #646
No response in over 6 months, so closing.  Feel free to reopen if you are still having problems.

[2022-02-03 15:31] #646 closed

[2022-02-03 19:45] clalancette commented on #724
I'm pretty sure that this was fixed in #817, so I'm going to close this out.  If not, please feel free to reopen.

[2022-02-03 19:45] #724 closed

[2022-02-03 20:25] clalancette commented on #678
Closing this based on the last comment.

[2022-02-03 20:25] #678 closed

[2022-02-10 13:42] clalancette commented on #820
I think it would be helpful to know what you have loaded in RViz2, including the model and any other plugins.  Because I can't make it fail with a simple try here.

[2022-02-12 09:53] relffok commented on #820
Like I said in the description, no plugins or anything loaded.
Anyway after updating the error appears to be gone, I have no clue what caused it. Therefore closing this!

[2022-02-12 09:53] #820 closed

[2022-02-17 21:36] #703 closed

[2022-02-20 21:38] NoodleOfDeath opened #832 "rviz_rendering won't build because of CMake find_package issue"
When trying to build I get the following errors and Stackoverflow does not appear to have a solution:

[code]

[2022-02-28 08:36] trishmapow opened #834 "Empty grey area instead of 3D grid with rviz2 on WSL"
I'm running ROS 2 foxy on WSL Ubuntu 20.04 with the precompiled packages. When I run `rviz2` I get an empty grey area where the 3D grid should be. If I publish e.g. pointcloud data nothing is displayed. I have tried using `export LIBGL_ALWAYS_INDIRECT=0` and also launching rviz2 through an Xrdp session, with no success. Rviz2 does work fine on my dedicated Linux laptop, and I notice also in the or

[2022-03-01 00:43] trishmapow commented on #834
Full log with `-l` below:
[code]

[2022-03-02 01:55] clalancette commented on #799
Since we've now solved #703 , I have hope that this is solved as well.  @bergercookie can you give the latest Rolling sources a try and see if this is any better for you?

[2022-03-02 05:22] zflat opened #836 "Compile error 'cancel' method marked override but does not override"
It looks like the changes in https://github.com/ros2/rviz/pull/809 have caused errors building. See https://build.ros2.org/job/Rdev__rviz__ubuntu_jammy_amd64/1/consoleText

[code]

I am seeing the same compile error with `g++ (Ubuntu 9.3.0-17ubuntu1~20.04) 9.3.0` on ROS Rolling.

[2022-03-02 07:10] aprotyas commented on #836
~Are you building everything from source?~ The virtual `cancel` function was added to `tf2_ros::AsyncBufferInterface` in https://github.com/ros2/geometry2/pull/490/ and is available in the latest release (0.22.0).

[2022-03-02 12:31] clalancette commented on #836
Yes, you need to rebuild both geometry2 and rviz for this to compile now.  We are about to rebuild everything into binary packages; once that is done, this will be fixed.  I'm going to close this one out.

[2022-03-02 12:31] #836 closed

[2022-03-02 15:01] zflat commented on #836
FYI I cloned https://github.com/ros2/geometry2 into my workspace and built it along with everything else in the workspace and I still needed these fixes. Building geometry2 from source fixed some of the compile errors but not all.

[2022-03-02 15:12] clalancette commented on #836
Our nightly builds have been working: https://ci.ros2.org/view/nightly/job/nightly_linux_release/2207/ .

There are some problems when using overriding packages in overlays that are being worked on as part of https://github.com/ros2/ros2/issues/1150 .  It looks like we haven't got the fixes for that into geometry2 yet, so my best guess is that that is the problem.  I'll suggest waiting a couple of

[2022-03-03 02:30] shengkaicui opened #839 "Is it possible to add Bazel build file in the later release? Thanks!"
Is it possible to add Bazel build file in the later release? Thanks!

[2022-03-03 02:30] #839 closed

[2022-03-03 17:57] Blast545 opened #840 ":man_farmer: `rviz_rendering` test regressions for GLSL 4.5"
New test regression on the linux ci jobs:
[code]
Reference: https://ci.ros2.org/view/nightly/job/nightly_linux_debug/2223/
https://ci.ros2.org/view/nightly/job/nightly_linux-aarch64_debug/1895/

The package failing is `rviz_rendering` and the failing tests are:

https://github.com/ros2/rviz/blob/f5f7c6a548b573959363307e9ad3ffab34acd93d/rviz_rendering/test/rviz_rendering/objects/point_cloud_test.cp

[2022-03-03 22:51] jacobperron commented on #840
Is it just the tests that need to be updated or is there also a change needed related to materials? Here:

https://github.com/ros2/rviz/blob/e4a0d4a9f1c42ea9dd93c971b5e36ef356a4110d/rviz_rendering/src/rviz_rendering/render_system.cpp#L380-L388

I'm not that familiar with the rendering code, but I guess we should confirm that point clouds are still being rendered with the newer opengl version (in a

[2022-03-04 16:35] Blast545 commented on #840
@jacobperron I am not that familiar with the rendering code, do you know someone we could tag to take a look?

I didn't see any errors popping out from that part of the code, so I think that only the tests have to be updated.

[2022-03-06 23:18] AndyZe opened #841 "OGRE/OgrePrerequisites.h: No such file or directory (on Ubuntu Jammy)"
I'm trying to build the moveit_ros_visualization package which includes the header file, `<OGRE/OgrePrerequisites.h>`. https://github.com/ros-planning/moveit2/blob/419db3b3b0245e9857e212ef86e441e60a4b10e4/moveit_ros/visualization/rviz_plugin_render_tools/include/moveit/rviz_plugin_render_tools/octomap_render.h#L45

It worked previously in Ubuntu 20.04 Focal. The build error is:

[code]

It looks l

[2022-03-07 00:34] AndyZe commented on #841
Actually I was able to delete the include of OgrePrerequisites and it still builds fine. Good enough for me!

[2022-03-07 00:34] #841 closed

[2022-03-09 01:32] jacobperron commented on #832
I wonder if this is related to #601
Could you try uninstalling rviz from `/home/ubuntu/dev/install` and rebuilding?

[2022-03-09 02:50] NoodleOfDeath commented on #832
I will give it shot and let you know

[2022-03-15 15:58] Blast545 commented on #840
:man_farmer: I took some time digging into this as it's affecting various jobs on the buildfarm. I think the problem is not related to a change in the number of vertices available in different OpenGL versions, I think it's related to the rendering modes available.

i.e. These type of comparisons:

https://github.com/ros2/rviz/blob/f5f7c6a548b573959363307e9ad3ffab34acd93d/rviz_rendering/test/rviz_r

[2022-03-15 19:48] jacobperron commented on #840
@Blast545 Thanks for digging into it! Sorry, I haven't had the cycles.

I think adding a getter for that member flag would be fine.

[2022-03-15 20:28] paulerikf opened #842 "Rviz Camera plugin not rendering overlay past 100 meters"
Noticed the rviz camera plugin's overlay doesn't render anything past 100 meters. Modifying the value of `far_plane` in camera_display.cpp changes the render distance.
https://github.com/ros2/rviz/blob/e4a0d4a9f1c42ea9dd93c971b5e36ef356a4110d/rviz_default_plugins/src/rviz_default_plugins/displays/camera/camera_display.cpp#L596

Is there a reason it's currently hardcoded to 100 m? Could we bump tha

[2022-03-17 17:27] #840 closed

[2022-03-22 16:30] clalancette commented on #842
I'd say let's make it configurable, keeping the default at 100 meters.  There is probably some cost we have to pay (in processing time, or accuracy, or something) for larger values, so I think it makes sense to leave the default where it is.

[2022-03-28 13:20] SpaceView opened #845 "ERROR compiling rviz_ogre_vendor: Could NOT find Patch (missing: Patch_EXECUTABLE)"
compile ROS2 galactic in windows 10
however I got the following error for rviz_ogre_vendor
content in stdout_stderr.log is given as follows,

-- Selecting Windows SDK version 10.0.19041.0 to target Windows 10.0.19044.
-- The C compiler identification is MSVC 19.29.30139.0
-- The CXX compiler identification is MSVC 19.29.30139.0
-- Detecting C compiler ABI info
-- Detecting C compiler ABI info - do

[2022-03-28 17:43] jacobperron commented on #842
Making this configurable makes sense to me. @paulerikf If you'd like to propose a PR, I'm happy to review it.

[2022-03-28 18:04] jacobperron commented on #845
Is Git installed on your system? CMake is not able to find the patch executable, so it could also be that it is installed in an unexpected location.

I would suggest asking this kind of question on ROS answers, but I found the someone running into the same problem without an answer: https://answers.ros.org/question/383548/could-not-find-patch-missing-patch_executable-rviz_ogre_vendor/

[2022-03-29 14:46] paulerikf commented on #842
Alright, should have some time to set up a PR next week. Thanks!

[2022-03-31 14:58] roncapat commented on #798
#846 still does not solve the issue of not having an easy way to check color scale value correspondence in GUI. I may add a simple optional panel to the GUI with a separate PR in future, if sounds ok.

[2022-04-01 21:02] ciandonovan-akara opened #847 "Wayland Support"
Please enable OGRE EGL support with the CMake flag -DOGRE_GLSUPPORT_USE_EGL=1

[2022-04-04 19:28] ciandonovan commented on #847
[code]
Without EGL support compiled into OGRE, RViz segfaults when trying to use the Wayland platform.
AFAIK starting with OGRE 1.13 EGL support will be compiled in by default, does ROS2 plan to move to OGRE 1.13 anytime soon?

[2022-04-05 15:25] roncapat commented on #798
I may push code for color legend panel after #846 is closed.
See the picture for my current implementation of color legend (automatically updates with selected palette).

Code here: https://github.com/roncapat/rviz/tree/ros2_map_legend
![Screenshot from 2022-04-05 17-23-56](https://user-images.githubusercontent.com/13013812/161789008-0c926685-5c8e-477a-bc14-8680fe16843f.png)

[2022-04-06 19:39] clalancette commented on #847
No, not soon.  Our main platform (Ubuntu 22.04) is still on OGRE 1.12, so we generally follow that.

[2022-04-07 16:29] jacobperron commented on #842
Resolved in #849

[2022-04-07 16:29] #842 closed

[2022-04-08 18:14] gatboccia commented on #834
Seeing the same issue in docker Ubuntu 20.04, except on a Linux host. Launching rviz2 around 10+ times does make the grid finally render though, I have not found any significant data in logs, straces, etc to provide any clues.